[2015-06-13 05:48] GoogleCodeExporter opened #1 "Implement level surfaces for hexahedral meshes"
[code]

Original issue reported on code.google.com by `tzanio` on 21 Jul 2010 at 8:21

[2015-06-13 05:48] #1 closed, assigned to tzanio

[2015-06-13 05:48] GoogleCodeExporter opened #2 "Cutting plane for curved meshes"
[code]

Original issue reported on code.google.com by `tzanio` on 21 Jul 2010 at 8:24

[2015-06-13 05:48] GoogleCodeExporter opened #3 "compilation problems"
[code]

Original issue reported on code.google.com by `pasqua.d...@gmail.com` on 6 Jun 2012 at 3:54

[2015-06-13 05:48] #3 closed, assigned to tzanio

[2015-06-13 05:48] GoogleCodeExporter opened #4 "Cannot start GLVis"
[code]

Original issue reported on code.google.com by `Martin.V...@gmail.com` on 17 Mar 2013 at 9:36

Attachments:
- [makefile](https://storage.googleapis.com/google-code-attachments/glvis/issue-4/comment-0/makefile)

[2015-06-13 05:48] #4 closed, assigned to v-dobrev

[2015-06-13 05:48] GoogleCodeExporter opened #5 "glvis not running"
[code]

Original issue reported on code.google.com by `abhih...@gmail.com` on 14 May 2013 at 7:15

[2015-06-13 05:48] #5 closed, assigned to v-dobrev

[2015-06-13 05:48] GoogleCodeExporter opened #6 "socket not opening"
[code]

Original issue reported on code.google.com by `abhih...@gmail.com` on 24 Jul 2013 at 8:13

[2015-06-13 05:48] #6 closed, assigned to v-dobrev

[2015-06-13 05:48] GoogleCodeExporter opened #7 "Mfem file format for curved elements"
[code]

Original issue reported on code.google.com by `Martin.V...@gmail.com` on 25 Dec 2013 at 12:00

[2015-06-13 05:48] #7 closed, assigned to tzanio

[2015-06-13 05:48] GoogleCodeExporter opened #8 "installing glvis on Mac OS 10.8"
[code]

Original issue reported on code.google.com by `pasqua.d...@gmail.com` on 29 May 2014 at 9:53

[2015-06-13 05:48] #8 closed, assigned to tzanio

[2015-09-18 15:35] mparkgit opened #9 "how to save in eps file"

[2015-09-18 17:38] mparkgit opened #10 "right hand side of PDE"

[2015-09-18 19:49] tzanio commented on #9
Hi @mparkgit,

You can press "S" to save a screenshot (in PNG format by default) which you can then convert to EPS. Another option is to print to PostScript with the "P" key. This will produce a vector graphic, but may not be as robust.

Hope this helps,
Tzanio

[2015-09-18 19:49] #9 closed

[2015-09-18 19:49] #10 closed

[2015-12-09 16:55] TongYunzhe opened #11 "How can i install GLVis on my MacBook Air?"

[2015-12-09 17:12] tzanio commented on #11
Hi @TongYunzhe,

You need to install XQuarz first, if that's not installed already. Their website is http://www.xquartz.org. This should install the OpenGL headers and you should be able to compile glvis following the instructions in http://glvis.org/building.

When you use glvis as a server, the first connection will take a while because it also has to start the XQuarz app. You can avoid the wait

[2015-12-10 02:35] TongYunzhe commented on #11
It's very helpful, now i can install GLVis on my MacBook Air, thank you so much. However, when i run the glvis and example 1, the terminal displayed "Can't connect to display! Initializing the visualization failed."

[2015-12-10 04:22] tzanio commented on #11
It looks like we can't connect to the X window server. Did you try starting XQuarz manually first? Does it work from the command line, e.g. `glvis -m ../mfem/data/start.mesh` ?

[2015-12-10 06:04] TongYunzhe commented on #11
it works now. thank you so much. I forgot to start XQuarz manually!~

[2015-12-10 06:22] tzanio commented on #11
You are welcome. Let us know if you have any further questions.

[2015-12-10 06:22] #11 closed

[2016-02-26 22:52] martemyev opened #12 "Min coordinates in a XY plane don't appear"
Hi All,

I'm visualizing the following solution [mesh_and_sol.zip](https://github.com/GLVis/glvis/files/149047/mesh_and_sol.zip)

When I make a 2D view (Shift+r) in the first XY plane the min coordinates of the domain don't show up. In all other planes they do.
![glvis_s16](https://cloud.githubusercontent.com/assets/2182432/13367528/cf12523c-dca8-11e5-97e7-5458d797226e.png)

I tried that with GLVi

[2016-02-28 20:48] tzanio commented on #12
Hi Mikhail,

This is a "feature" due to the way we position the minimal coordinates at the lowest left corner of the bounding box, where they are covered by the graph of the function.

We can consider changing this, but maybe an easier solution is just to enable a bit of transparency by pressing the 'k' key once as in the following:
![glvis_s01](https://cloud.githubusercontent.com/assets/1278247/1

[2016-02-29 03:51] martemyev commented on #12
Ah, yes, that works for me.

Thank you!

Cheers,
Mikhail

[2016-02-29 03:51] #12 closed

[2016-04-18 17:07] martemyev opened #13 "Save a snapshot after transformation in a command line"
Dear All,

I'm trying to save a snapshot after transforming it to 2D view using the following command:
[code]
i.e. I set 2D (R), turn off perspective (j), turn off light (l), make it slightly transparent to see the left bottom coordinate (k), display axis (a), then I want to save the resulting view as a snapshot (S), and exit (q). However, GLVis saves the snapshot at an earlier stage in 3D (I gues

[2016-04-18 19:21] v-dobrev commented on #13
Hi Mikhaill,

Some keys specified on the command line are processed in such a way that they take effect later: a key may cause an event (e.g. a redraw) that is put at the end of the X events queue, i.e. after all specified keys.

For the purpose of creating sequences of GLVis screenshots we use GLVis scripts, as described [here](http://glvis.org/options-and-use/#glvis-scripts).

Here is another ex

[2016-04-18 20:38] martemyev commented on #13
Hi Veselin,

Thank you for the explanation! GLVis scripts seem very cool. I couldn't, however, figure out how to visualize components of a vector field, which I'd do with a '-gc' key in the command line.

Thanks,
Mikhail

[2016-04-18 21:46] v-dobrev commented on #13
For 3D vector fields, use the `'F'` key to switch states:
[code]

For 2D vector fields, use a combination of the `'U'` and `'u'` keys - first use `'U'` twice to get the message
[code]
then press the `'u'` key till you get the desired component.

[2016-04-18 22:00] martemyev commented on #13
To clarify, if I want to save a snapshot of a y-component of a 2D vector field, I need to include this line in the .glvs script:
[code]
It's not as intuitive as '-gc 1' in the command line, but it works. Thanks a lot!

Cheers,
Mikhail

[2016-04-18 22:27] martemyev commented on #13
Okay, so I'm a bit confused with the following. When I use the script like this to save first an x- and then a y-component of a 2D vector solution:
[code]
I got the following output in the terminal:
[code]
so first a snapshot is saved, and then a key sequence is executed. So, in this particular example, `mode_1x_mfem.png` shows the magnitude of the vector field, and `mode_1y_mfem.png` - the x-comp

[2016-04-18 22:37] martemyev commented on #13
An edit to the previous post - the files `mode_1x_mfem.png` and `mode_1y_mfem.png` both show the magnitude of the vector field.
Also, the following script works as expected:
[code]

[2016-04-19 20:39] v-dobrev commented on #13
Hi Mikhail,

I pushed some changes to the develop branch to address the issue with the keys - with this change there is no need to pause after `keys` command to wait for the screen update before using `screenshot`.

Let us know if you encounter any problems with these modifications.

[2016-04-20 14:27] martemyev commented on #13
Hi Veselin,

It works now. Thanks a lot!

Cheers,
Mikhail

[2016-04-20 15:32] #13 closed

[2016-04-20 16:32] martemyev opened #14 "Title or legend"
Dear All,

Is it possible to put a text in a GLVis graphics window that then will be saved as a snapshot? The text can represent a title of a simulation result or a legend.

Thanks,
Mikhail

[2016-04-20 16:45] tzanio commented on #14
Hi Mikhail,

It is possible to add something like this, but the interface will be probably quite restrictive... isn't it more flexible if you just any text you like to the saved screenshots later, e.g. with ImageMagick's convert?

Cheers,
Tzanio

[2016-04-20 16:54] martemyev commented on #14
Hi Tzanio,

I believe legends are quite convenient and informative especially when they are combined with a color bar in the same window. If adding a text is not straightforward, could you please share an example of how `convert` can be used for adding a text?

I'm also curious what you meant by "the interface will be probably quite restrictive...".

Thanks,
Mikhail

[2016-04-20 17:43] tzanio commented on #14
Hi Mikhail,

Can you propose how to set these from the GLVis window and what would you like to be displayed?

The `convert` utility has tons of options, see e.g. http://www.imagemagick.org/Usage/annotating. It is very likely already installed on your system. Here is one example of adding text:
[code]

[2016-04-20 18:32] martemyev commented on #14
If there would be a way to set a field name, this name could be displayed on top of the color bar (similar to VisIt and ParaView). It may be a function analogous to `VisItDataCollection::RegisterField` or simply:
[code]
Then, from the GLVis window a user can select a component to be visualized (for example, for 2D vector field pressing 'UUuu' and so on), and a component that is currently shown wou

[2016-04-23 03:16] tzanio commented on #14
Hi Mikhail,

We should have something in GLVis that address your request early next week. Stay tuned...

Tzanio

[2016-04-25 19:13] tzanio commented on #14
Hi Mikhail,

I committed something in 415ab30ec8422e827987951b18fe8df8c528707c. Let us know if this meets your needs.

Cheers,
Tzanio

[2016-04-25 21:43] martemyev commented on #14
Hi Tzanio,

Thanks for the commit. It looks very nice, and it's much more informative now.

Thanks,
Mikhail

[2016-04-25 22:01] tzanio commented on #14
Great! Let us know if you have any further suggestions.

Tzanio

[2016-04-25 22:01] #14 closed

[2016-06-08 15:19] hdigonnet commented on #7
Sorry to reopen this thread, but I was wondering if you could deal with arbitrary order curved mesh?
I saw Linear,Quadratic, Cubic keywords, but how I could specify p4 curve element?

Thanks also for the comment about how you number dof, that helps me a lot.

[2016-06-08 21:20] v-dobrev commented on #7
The general case for the mesh curvature uses the following:
[code]
It may be helpful for you to try the `mesh-explorer` miniapp in `miniapps/meshing/` -- it can be used to change the curvature of any mesh to a higher or lower degree, e.g.:
[code]

Let know if you have any further questions.

Veselin

[2016-06-09 12:33] hdigonnet commented on #7
Thanks for the quick answer. I have played with mesh-explorer, but I still have questions.
What is the difference between Cubic mesh curvature and H1_*_P3 one ?
I made a short test in 1D between Cubic and H1_1D_P3,  but if the meshes are identical from glvis point of view, the coordinates of the files differ.

I have :
* for Cubic :
nodes
FiniteElementSpace
FiniteElementCollection: Cubic
VDim: 1
O

[2016-06-09 18:07] v-dobrev commented on #7
The `Linear`, `Quadratic`, and `Cubic` are `FiniteElementCollection` classes specific for their respective degrees 1, 2, and 3 whereas the `H1_*D_P*` collection is arbitrary degree. The other difference is the location of the nodal degrees of freedom on the reference element - `Linear`, `Quadratic`, and `Cubic` use uniform nodes, and the general case `H1_*D_P*` uses Gauss-Lobatto nodes. For 1st an

[2016-06-10 06:25] hdigonnet commented on #7
Ok, again many thanks for theses precisions.

[2016-07-21 19:12] ricunha opened #15 "GLVis in MS Windows"
I’m interested use MFEM and GLVis to do some experimented.
But my work platform is MS Windows. I read that MFEM can work on it but GLVis will work only on in X11 bases.
I’m writing you to ask how I can see the MFEM results without GLVis ou how can I make GLVis work in Windows.
Thanks in advance!
Ricardo

[2016-07-21 19:32] tzanio commented on #15
Hi Ricardo,

You can make GLVis work on WIndows if you install [Cygwin](https://www.cygwin.com) and build it under that. This will be the best approach if you want to use it as a socket server.
If you just want to visualize MFEM results saved in files, a simpler option may be to use [VisIt][http://visit.llnl.gov], which has a Windows executable and supports mfem output through the VisItDataCollect

[2016-07-21 19:45] ricunha commented on #15
Ok! I will try!

[2016-08-27 05:24] #15 closed

[2016-10-26 03:14] #2 closed

[2017-02-15 14:36] rduvigne opened #16 "parallel nurbs mesh issue"
Hello,

I encountered problems when trying to visualize a grid based on nurbs elements from a set of files.
It works well when using a single file, but when using multiple files only the grid contained in the last file is actually visible.

I would like to know if you have an example corresponding to such a case ?
If necessary, I can also provide my case to fix the problem.

Thanks a lot.
Regis

[2017-02-16 05:00] tzanio commented on #16
Hi Regis,

This should work.

One way to try it is to run [MFEM's](http://mfem.org) Example 1p on a NURBS mesh:
[code]
This produces files `mesh.000000`, `mesh.000001`, `sol.000000` and `sol.000001` [(attached)](https://github.com/GLVis/glvis/files/779095/Ex1p-NURBS.zip), that can then be visualized with
[code]

How do you generate your mesh? Can you send us a sample?

Cheers,
Tzanio

[2017-02-16 08:46] rduvigne commented on #16
Thanks a lot for this fast reply and confirmation that it should work !

I check the program that writes the partitioned nurbs grid (my own work).
I will send you a small example if I do not succeed in fixing the problem.

Regards,
Régis

[2017-02-16 16:46] rduvigne commented on #16
Hi,

In fact your example is a little too complex to analyse my error. Could you generate a similar one from the case data/square-disc-nurbs.mesh ? (I have not compiled MFEM in parallel).

Alternatively, I have generated a very simple case (2 elements) that illustrates my problem
[test_nurbs.zip](https://github.com/GLVis/glvis/files/780797/test_nurbs.zip)

The two files corresponding to quad eleme

[2017-02-16 23:06] tzanio commented on #16
Hi Régis,

Is [this test case](https://github.com/GLVis/glvis/files/781771/Ex1p-NURBS.zip) better?

It is just the `data/beam-quad-nurbs.mesh` split in two:
![glvis_s01](https://cloud.githubusercontent.com/assets/1278247/23045466/8622a81e-f459-11e6-8ac7-2040e5a8930b.png)

Tzanio

[2017-02-17 05:11] v-dobrev commented on #16
Hi Régis,

Note that when MFEM writes a parallel NURBS mesh, each processor writes the global patch connectivity as a mesh of quads/hexes; then each processor writes all knot vectors. Then each processor writes its local elements in a section called `mesh_elements` (which is not used in serial) and finally, its local weights and control point coordinates.

Hope this helps,
Veselin

[2017-02-17 15:18] rduvigne commented on #16
Hi,
Thank you for your help, my bug is fixed now (I misunderstood the "mesh_elements" section)
Here is an example of partitioned nurbs grid to study the flow around an airfoil:

![mesh_nurbs_16part](https://cloud.githubusercontent.com/assets/25796375/23070753/7693c198-f52c-11e6-93e3-e5a5c8e0d44e.png)

By the way, GLVIS is a perfect tool for visualization in isogeometric analysis !
Thanks again for

[2017-02-17 15:27] tzanio commented on #16
Glad you got it working.

Thank you for the good words and please let us know if you have any questions or feature requests in the future.

Tzanio

[2017-03-17 22:19] #16 closed

[2017-05-09 17:41] kmittal2 opened #23 "Compiling glvis"
Hi All,

I am new to using glvis and mfem so please bear with me as I am just getting started.. I am using a mac, and I have just gotten MFEM to build and run on my machine. I had to build mfem in a "build" folder inside the mfem directory using cmake and make.
Now I am trying to get GLVis to build by specifying "make MFEM_DIR=../mfem/build -j" but I get the error "makefile:177: *** The MFEM libra

[2017-05-09 19:59] v-dobrev commented on #23
Hi Ketan,

The problem is that GLVis assumes that MFEM was build using the GNU make build system, not the CMake one. We are planning to add CMake build to GLVis that will work with the MFEM CMake build.

For now, I'd recommend building MFEM using the GNU make build system, e.g.:
[code]

After that you should be able to build GLVis using the command you tried before.

Let us know if you encounter a

[2017-05-09 20:20] kmittal2 commented on #23
Thanks Veselin, I have it running now!

Ketan

[2017-05-09 20:20] #23 closed

[2017-06-14 14:29] juan42 opened #24 "CMake build"
Hi,

since i had to recompile my libraries a few times now, i wanted to ask if there is still interest in a CMake build system for glvis to keep it compatible with MFEM?

I have a pretty compact working example which needs work to meet the requirements that the makefile provides. I could file that as a PR if there isn't some internal work done already.

Best regards

[2017-06-14 17:45] tzanio commented on #24
@juan42: Please add your code and issue a PR and we will take a look. Thanks!

[2017-06-23 02:38] nicoguaro opened #26 "Error compiling"
I followed the instructions given in the [website](http://glvis.org/building/). I also have
all the dependencies listed [here](https://github.com/GLVis/glvis/blob/master/INSTALL).
But I obtain the follwing error:

    cd lib; g++ -O3 -I/home/nguarinz/software/mfem-3.3 -DGLVIS_MULTISAMPLE=4 -DGLVIS_MS_LINEWIDTH=1.4 -I/usr/X11R6/include -DGLVIS_USE_LIBPNG -DGLVIS_USE_FREETYPE -I/usr/X11R6/include/fr

[2017-06-23 04:30] tzanio commented on #26
Hi @nicoguaro,

Do you know where `fontconfig/fontconfig.h` is installed in your system?

If it is not in `/usr/include` or `/usr/X11R6/include` you can modify the `FT_OPTS` variable in the `makefile` to add the directory where it can be found.

Hope that helps,
Tzanio

[2017-06-23 16:31] nicoguaro commented on #26
The path in my system is

     /home/nguarinz/anaconda2/include/fontconfig/fontconfig.h

And I changed the line 134 of the makefile for

    FT_OPTS = -DGLVIS_USE_FREETYPE -I/usr/X11R6/include/freetype2\
 -I/usr/include/freetype2 -I/home/nguarinz/anaconda2/include/fontconfig

And obtain the following error when trying to compile

    usr/bin/ld: cannot find -lfontconfig
    collect2: error: ld ret

[2017-06-23 17:25] tzanio commented on #26
Try adding `-L /home/nguarinz/anaconda2/lib` to `FT_LIBS`.

You can also run without freetype (not recommended) by setting `USE_FREETYPE = NO`.

[2017-06-23 17:55] nicoguaro commented on #26
I tried that and obtained much more errors. You can check the output in [this file](https://gist.githubusercontent.com/anonymous/28c7d7598701b9f4f18be2261d57fb4d/raw/d2677cfe9d8534db52e9674b500da21672a47ff6/glvis_compile.out)

[2017-06-23 18:12] mlstowell commented on #26
It would seem that your version of fontconfig requires a library called libiconv.  This library is responsible for converting between different language or country specific text encodings.  If you can find libiconv on your system you can add its path in the same way that you added the path for libfontconfig.  If you don't have it, then you'll need to install this as well.

[2017-06-23 20:15] v-dobrev commented on #26
You can also try running `pkg-config fontconfig --libs` -- that should give you all the options/libraries you need to add to `FT_LIBS`. You can do the same for freetype: `pkg-config freetype2 --libs`. This is mentioned in the comments in the `makefile`, see [here](https://github.com/GLVis/glvis/blob/master/makefile#L129-L136).

[2017-06-23 20:24] v-dobrev commented on #26
One more thing: the output file you posted has a lot of messages about missing `std::...` - I see this type of messages if I use g++ (i.e. GCC) to build one library/source and then use clang++ when linking, or vice versa. In cases like that, run `make clean` in both the mfem and the glvis source directories and rebuild them making sure you use the same compiler for both.

Hope this helps,
Veselin

[2017-06-23 22:00] nicoguaro commented on #26
I just did all that you suggested, and I have a different issue now

url: https://gist.github.com/anonymous/0003c0b019888d0462522a63fdc7b672

[2017-06-23 22:22] mlstowell commented on #26
One small issue is that "-L/home/nguarinz/anaconda2/lib/libiconv.so" is invalid.  The "-L" option is used to add directories to the library search path during linking but you're passing a filename not a directory.  This directory is already in the search path because it was added so that libfontconfig could be found.  Rather than this "-L" option all you need is "-liconv" which tells the linker to

[2017-06-24 01:28] v-dobrev commented on #26
The only drawback when `USE_FREETYPE = NO` is that the fonts used by GLVis will be standard X11 fonts instead of the anti-aliased fonts that are used when `USE_FREETYPE = YES`.

If you want to try to get `USE_FREETYPE = YES` working, one more thing you can try (in addition to replacing `-L/home/nguarinz/anaconda2/lib/libiconv.so` with `-liconv` or `/home/nguarinz/anaconda2/lib/libiconv.so`) is to

[2017-06-27 23:30] nicoguaro commented on #26
I tried with all these options but it did not work.

The version of `g++` is 5.4. Thi is the output from `g++ -v`

    Using built-in specs.
    COLLECT_GCC=g++
    COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/5/lto-wrapper
    Target: x86_64-linux-gnu
    Configured with: ../src/configure -v --with-pkgversion='Ubuntu 5.4.0-6ubuntu1~16.04.4' --with-bugurl=file:///usr/share/doc/gcc-5/README.Bu

[2017-07-04 00:10] tzanio commented on #24
Resolved by https://github.com/GLVis/glvis/commit/733f67325e70f475772650cde125bb75a618092b.

[2017-07-04 00:10] #24 closed

[2017-07-12 20:39] kmittal2 opened #28 "Save pdf without background color"
Hi All,

I was wondering if there is a way to save pdf's without any printable background (i.e. no white background) in GLVis?

Thanks,
Ketan

[2017-07-12 21:02] v-dobrev commented on #28
You might be able to adjust the alpha channel for the background in this function: [Set_Background() @ material.cpp:331](https://github.com/GLVis/glvis/blob/master/lib/material.cpp#L331).

[2017-07-28 16:06] KazemKamran opened #29 "Second order mesh, MFEM format vs VTK format"
I have written a second order PUMI mesh to MFEM format then print it once using 'MFEM::Mesh::Print()' and once using 'MFEM::Mesh:PrintVTK()'.

The VTK format loaded in Paraview shows a second order mesh as expected, however the MFEM format  loaded in glvis shows a linear mesh as you can see in the attached snapshots.  The MFEM format do have the nodes section required for the higher order meshes.

[2017-07-28 20:16] v-dobrev commented on #29
Press the 'o' key a few times to increase the sub-division factor. See [README](https://github.com/GLVis/glvis/blob/master/README) for more key commands, and the "3D data commands" section for some 3D specific keys.

[2017-09-26 16:57] #28 closed

[2017-09-26 16:58] #26 closed

[2017-09-26 16:59] #29 closed

[2017-09-26 17:00] tzanio commented on #29
That's a really nice mesh @KazemKamran :)

[2017-10-05 07:02] juan42 opened #33 "Linking with shared libraries and RPATH"
Using the CMake build and linking with shared libraries doesn't produce consistent RPATH flags.
[code]
First, the project name has to be set before using FIND_* so global properties aren't overwritten. Refer
https://github.com/GLVis/glvis/blob/38dbcccaa565e28bd5ed8277a786b1af0e802ac0/CMakeLists.txt#L17

But that doesn't solve the RPATH issue with libmfem.so. Any ideas?

[2017-10-05 20:31] v-dobrev commented on #33
@juan42,

I created a PR (#34) that fixed the issue for me. Can you try it on you computer and, if it works fine, approve the PR?

Thanks for reporting this issue!

[2017-10-06 06:20] juan42 commented on #33
This does not work for me. After
[code]
i still don't have proper RPATH set in the installed binary. I have to configure with
[code]
we can set this with
[code]
globally but i don't know enough about CMake if there is something wrong in another place since my projects link MFEM without problems (although kept and run in the build directory).

[2017-10-06 19:52] v-dobrev commented on #33
OK, what I tested was just building MFEM (without installing it) and the just building GLVis pointing it to the MFEM build directory. Does this work for you?

I'll try now installing MFEM and then building / building+installing GLVis.

[2017-10-06 19:54] juan42 commented on #33
Just building GLVis without install works fine

[2017-10-06 19:55] v-dobrev commented on #33
Even when linking to an installed version of MFEM?

[2017-10-06 20:00] juan42 commented on #33
Thats a good question. The CMake file from GLVis always picks up the folder which the build folder (i assume because they are in the same tree). But i think both worked.

[2017-10-07 00:22] v-dobrev commented on #33
@juan42, I pushed some additions to the PR. Can you check if this solves the issue for you?

[2017-10-07 17:50] juan42 commented on #33
Perfect! Thanks @v-dobrev this works and even links all third party libraries which are configured with mfem to glvis.

[2017-10-07 17:50] #33 closed

[2017-10-13 10:32] stefanozampini opened #35 "CMAKE BINARY DIR"
@v-dobrev I'm not sure this is a problem on my Fedora 26 or a buggy CMakeLists.txt
This is the first time I'm trying an out-of-source cmake build of GLVis. For some reasons, ${CMAKE_SOURCE_DIR} and ${CMAKE_BINARY_DIR} are the same. Anyway, declaring the project before the check fixes the issue

[code]

[2017-10-13 10:46] dalcinl commented on #35
Maybe `project(GLVis CXX)` ?

[2017-10-13 10:50] stefanozampini commented on #35
Wait, it did not fix the problem. Anyway, the out-of-source CMAKE build of MFEM is fine. I HATE CMAKE

[2017-10-13 11:04] juan42 commented on #35
I dont think the in-source build has worked before?

[2017-10-13 11:05] stefanozampini commented on #35
I'm not trying to do an in-source build.
This does not work for me, I don't know why
$ mkdir build && cd build && cmake ..

[2017-10-13 11:09] stefanozampini commented on #35
Forget about it, I fixed the issue. I had a CMakeCache.txt file in my source dir

[2017-10-13 11:09] #35 closed

[2017-10-13 11:46] dalcinl commented on #35
@stefanozampini We'll never forget...

[2017-10-29 23:09] vryy opened #37 "Understanding the Mesh NURBS format"
Hello

I have trouble understanding the NURBS mesh format used in Glvis. If I understood it correctly, each element represents a patch and each edge represents a patch boundary. The vertices of the element are the patch corners. The inner control points indexing are not described. Therefore I'm not clear how the control points in the FiniteElementSpace section relate to the patch. In the other way

[2017-11-07 18:18] v-dobrev commented on #37
Hi,

It is probably easier to use the alternative NURBS format, where NURBS-patches are described independently: up to and including the `vertices` the format is the same as described here: http://mfem.org/mesh-formats/#nurbs-meshes. After that, the alternative is the following:
[code]
where `n` is the number of elements as given in the `elements` section. The `<patch k>` section itself has the fo

[2017-11-08 16:57] vryy commented on #37
Unfortunately, that doesn't help. What I want to know is that with a control point in the list, which patch it belongs to. I guess there is something to do with grid function. The way Mfem enumerates the basis functions on patches is not clear in the documentation.

[2017-11-08 17:00] vryy commented on #37
Hi

Looking in the disc-nurbs.mesh, it is not like you described. There are 5 patches there, but only one control points section is declared.

MFEM NURBS mesh v1.0

#
# MFEM Geometry Types (see mesh/geom.hpp):
#
# SEGMENT     = 1
# SQUARE      = 3
# CUBE        = 5
#

dimension
2

elements
5
1 3 4 5 6 7
1 3 0 1 5 4
1 3 1 2 6 5
1 3 3 7 6 2
1 3 0 4 7 3

boundary
4
1 1 0 1
1 1 2 3
1 1 1 2
1 1 3 0

ed

[2017-11-13 10:41] stefanozampini opened #40 "Obscure error for periodic meshes without boundary attributes"
If you don't specify the boundary attributes in 3D, and MFEM cannot compute automatically the boundary mesh (like in a fully periodic cube) , then GLVis errors out with a very obscure message for the user (this is because Array::Max() cannot be called)

https://github.com/GLVis/glvis/blob/7224f8646347a157428ecd554f81c2bf4700612b/lib/vssolution3d.cpp#L600

What should be the proper fix for this? I

[2017-11-14 00:10] v-dobrev commented on #40
I suggest the following resolution:
1) In the case when `mesh->Dimension() == 3`: if `mesh->bdr_attributes.Size() == 0`, then issue a warning (on the terminal) and set the size of `bdr_attr_to_show` to zero. This way there should be no crash, initially the plot will be empty but some of the features will still work, e.g. the cutting plane.
2) In the case of a surface mesh, i.e. `mesh->Dimension()

[2017-11-14 03:17] v-dobrev commented on #37
Hello,

Here is an example of the alternative format that describes the patches one by one. You are right - none of the meshes in the MFEM repository use this particular format. However, you should be able to view the example below in GLVis. Also, if you open this file with the mesh-explorer miniapp (available in mfem/miniapps/meshing) and save it, it will be saved in the format used by the sample

[2017-11-16 12:16] stefanozampini commented on #40
Closing this issue, see https://github.com/GLVis/glvis/pull/41

[2017-11-16 12:16] #40 closed

[2017-11-20 09:04] vryy commented on #37
Hello

I have tested and see that this mesh format is easier to understand and generate except the awkward element connectivity which must be clockwise 0-1-3-2. I assume that is to be backward compatible with standard isoparametric mesh format.

The remaining question is how to visualize the results. For that i made a simple mesh for a square.
[sample_v1_square.mesh.txt](https://github.com/GLVis/g

[2017-11-22 23:16] v-dobrev commented on #37
Hi @vryy,

When you set the order (degree) of the collection to be NURBS2 (or any order higher than the mesh order), the library creates new NURBS space of the required order (using unit weights) by degree-elevation of the original mesh knot vectors. That space has more degrees of freedom and therefore the library expects more numbers - if those values are missing from the file (as in the case, wh

[2017-11-29 20:49] tomyduby opened #42 "Installing glvis and mfem on a Win10 machine"
I am new to cygvin and unix. I followed exactly the instructions in [http://mfem.org/building/]: Installed cygvin on my computer, downloaded mfem.tgz and glvis.tgz. I continued with building the serial version of MFEM: This is the current contents of the mfem folder:

$ ls
CHANGELOG       COPYRIGHT  examples  INSTALL  makefile  mfem-performance.hpp
CMakeLists.txt  data       fem       LICENSE  mes

[2017-11-29 21:14] tzanio commented on #42
Can you try this: https://stackoverflow.com/questions/17710209/how-to-run-make-from-cygwin-environment?answertab=votes#tab-top

[2017-12-01 01:53] tomyduby commented on #42
Tzanio,

Thanks. I did what you recommended, namely installed the `make` package. Here is what I get:

`Tomy@HP-3 ~/mfem/mfem-3.3.2
$ ls
CHANGELOG       COPYRIGHT  examples  INSTALL  makefile  mfem-performance.hpp
CMakeLists.txt  data       fem       LICENSE  mesh      miniapps
config          doc        general   linalg   mfem.hpp  README

Tomy@HP-3 ~/mfem/mfem-3.3.2
$ make serial -j
makefile:501

[2017-12-01 13:20] v-dobrev commented on #42
Hi @tomyduby,

To resolve the MFEM build issue you can edit the file `makefile` and replace the line (near the end of the file)
[code]
with the line
[code]
With this fix, I was able to build the library with the make command: `make serial -j 4` (here, 4 is the number of parallel tasks to use for building - you can change it based on your system, if you want).

To build and run GLVis, I had to inst

[2017-12-02 10:07] v-dobrev commented on #42
A better way to start the cygwin X server is to use the shortcut from the start menu called "XWin Server" which starts the X server in multi-window mode. After that you can open a "Cygwin Terminal" from the taskbar icon "X applications menu on :0 -> System Tools". Starting the terminal from there sets the `DISPLAY` environment variable automatically, so GLVis can be run from that terminal without

[2017-12-12 16:10] tzanio commented on #42
Hi @tomyduby, were you able to get GLVis working?

[2017-12-12 16:12] tzanio commented on #37
Hi @vryy, were you able to resolve this?

[2017-12-14 23:54] vryy commented on #37
@tzanio I did not find time to try the MFEM branch for variable degree yet. I will do that within next week and report the results.

[2017-12-17 10:52] yuwenli925 opened #44 "Problems on building glvis"
I am new to Linux. I use ubuntu on a virtualbox. Following the procedure on mfem.org, I can build and mfem-3.3.2 and run examples in it without problems. But when I was building glvis following exactly the procedure on mfem.org, I keep having troubles, both for glvis 3.3 applied to mfem3.3.2 and glvis 3.0 applied to mfem-3.0.  Please see the pictures.
![screenshot from 2017-12-17 02-37-11](https:/

[2017-12-17 11:12] juan42 commented on #44
You need to install the ubuntu package `mesa-common-dev` for example.

[2017-12-17 18:56] yuwenli925 commented on #44
Thank you very much for prompt reply. So I installed several packages about OpenGL like freeglut3, libglew-dev,  binutils-gold, mesa-common-dve. Now there is only one error. Do I need to install some other packages?
![screenshot from 2017-12-17 10-46-45](https://user-images.githubusercontent.com/34620862/34082736-71b97bf6-e318-11e7-9e56-e2566f7a7b8c.png)

[2017-12-17 19:04] juan42 commented on #44
Yes, this specific one is libpng12-dev. You can search https://packages.ubuntu.com/search?mode=filename&suite=precise&section=all&arch=any&keywords=png.h&searchon=contents here for specific files that you get as "missing file errors" and see which package you need to install.

[2017-12-17 19:43] yuwenli925 commented on #44
Thank you Juan. Now there is another error which I think is not "missing file error".  The compiler says fontconfig/fontconfig.h no such file or directory. But when I enter sudo apt-get install fontconfig, I found fontconfig already exists. I search on google for this error but there seems to be no simple solution.
![screenshot from 2017-12-17 11-36-39](https://user-images.githubusercontent.com/34

[2017-12-17 19:47] juan42 commented on #44
Yes. Fontconfig is installed but not the development package.

Install libfontconfig1-dev

[2017-12-17 19:57] #44 closed

[2017-12-17 20:51] tzanio commented on #44
Thanks for answering this Julian!

[2017-12-19 20:07] gelever opened #45 "CMake LibPNG define"
Hi,
I compiled GLVis with CMake and noticed screenshots weren't following the build parameters.

In the cmake file https://github.com/GLVis/glvis/blob/master/CMakeLists.txt#L160
The define for libpng should read
[code]

where `GLVIS_USE_PNG` -> ```GLVIS_USE_LIBPNG```

Thanks

[2017-12-19 21:02] tzanio commented on #45
Good catch. Can you propose a PR?

[2017-12-19 22:38] #45 closed

[2018-01-05 06:27] tzanio commented on #37
Hi @vryy, we are planning to merge the [varnurbs-dev](https://github.com/mfem/mfem/pull/279) branch soon, so if you get a chance to try it and provide any feedback that will be most appreciated. Thanks!

[2018-01-16 21:13] tzanio commented on #37
I'm closing this issue now. The variable order NURBS are now merged in MFEM's master. Feel free to reopen if you have further questions.

[2018-01-16 21:13] #37 closed

[2018-01-24 13:21] CsatiZoltan opened #47 "XIO error"
`glvis-3.3` nicely works, but after quitting, the following appears in the terminal:

[code]
It doesn't seem to have any effect on my workflow, but still wondering what causes it.

[2018-01-26 09:41] CsatiZoltan opened #48 "Plotting cut finite elements"
The [CutFEM](http://onlinelibrary.wiley.com/doi/10.1002/nme.4823/abstract) method is easy to implement to existing FE softwares and enables the representation of discontinuities *within* an element. It is done by restricting the FE basis functions on a cut part of the element.

My question is the following: is it possible in GLVis to plot the mesh or a solution field only on part of a finite eleme

[2018-01-27 01:53] tzanio commented on #47
I haven't seen this myself, but a quick web search points to an issue with one of the X libraries:

https://forums.ni.com/t5/LabWindows-CVI/XIO-fatal-IO-error-11/m-p/3183174#M71429

They suggest downgrading `libxcb`. Can you give this a try?

[2018-01-27 01:56] tzanio commented on #48
This functionality will have to go into MFEM. We will be certainly interested in it, though I don't think it will be so simple to implement :)

That being said, I am not clear what your question is -- are you asking what you can do with the current capabilities, or commenting on what will be possible with such XFEM-like extension.

[2018-01-27 09:06] CsatiZoltan commented on #48
My intention was both. But my question is: is this kind of plotting possible with the current version of GLVis?

[2018-01-27 18:42] tzanio commented on #48
This is a pretty special case, but you can do something like this:

![glvis_s03](https://user-images.githubusercontent.com/1278247/35475153-1fa2b0fc-034e-11e8-9bd1-58bea26b9d07.png)

![glvis_s02](https://user-images.githubusercontent.com/1278247/35475152-1f8622c0-034e-11e8-937e-91f8157ec64d.png)

The above is the solution from ex1 of order 4 on a single element. Use `w` to cut the element and `x`,

[2018-01-27 20:26] CsatiZoltan commented on #48
Thank you, I tried it. This is not exactly what I would like because

- I set the cutting plane on the displayed result. I already have a solution field which would need to be plotted.
- I face situations when more than one discontinuity cuts an element.

In fact, I would only have to plot a *continuous* function on a *part* of the element (this is one reason why the CutFEM is easier to implement

[2018-01-28 00:33] tzanio commented on #48
Can you represent each of the "cuts" as union of triangles (or quads)? That will be the most straightforward way to use the current version of GLVis, but will require additional processing on your end. The triangles can be curved, and the continuous function on them can be high order. You can assign a common attribute to the triangles in each "cut" to keep them separate.

Another option could be t

[2018-01-29 13:14] CsatiZoltan commented on #47
I downgraded libxcb from 1.15 to 1.11, and it didn't help. Anyway, this is a non-blocking issue, the program still works flawlessly.

[2018-01-29 13:14] #47 closed

[2018-01-29 16:31] CsatiZoltan commented on #48
Yes, because the domain integral is calculated by triangulating the cut element part, therefore I have that information. For the sake of visualization, I created a conforming mesh with doubled nodes to be able to represent the discontinuous function:
[code]

It is displayed as follows:
![mesh](https://user-images.githubusercontent.com/12742890/35519833-a10341a2-0515-11e8-814c-745f047f207f.PNG)
The

[2018-01-29 16:52] tzanio commented on #48
This is due to a recent bug that should now be fixed. Can you pull mfem and rebuild?

That's one approach, but in general doubling is not necessary -- we support discontinuous functions.

Meshes without solutions are plotted with a "checkerboard" function. Use the Mesh Explorer miniapp in mfem/miniapps/meshing to visualize the sub-domains with same attribute (materials option).

Another approach i

[2018-01-30 22:42] CsatiZoltan commented on #48
After pulling the master branch from both mfem and GLVis, it works perfectly!

[code]

It results a segfault (core dumped), without printing any other error messages.

Calling `mesh-explorer` with `--mesh myMesh.mesh` recognizes the mesh and provides the data, but when I want to plot it, its drops the error `Unable to connect to localhost:19916`.

[2018-01-30 22:56] tzanio commented on #48
Try the following mesh:

[code]

and grid function:

[code]

[2018-01-31 08:46] CsatiZoltan commented on #48
Both works now. Thanks.

[2018-01-31 08:46] #48 closed

[2018-01-31 15:04] tzanio commented on #48
You are welcome. Let us know if you have any further questions.

[2018-03-09 01:09] markcmiller86 opened #50 "GLvis doesn't build against an out-of-source MFEM build"
I tried building glvis-3.3 against an MFEM build that was "out-of-source" and it doesn't work. GLvis is looking for `config.mk` in `$(MFEM_DIR)/config`. If I specify `MFEM_DIR=../mfem/build` (which is where the built `libmfem.a` and `mfem.hpp` files are), the glvis make fails looking for `config.mk`

[2018-03-09 01:46] tzanio commented on #50
This worked for me on my Mac:
[code]
Can you post the commands that you are using?

[2018-03-09 02:30] markcmiller86 commented on #50
Ah, ok. I did *not* do make BUILD_DIR=..., I simply did this...

[code]

That actually builds everything fine. But, it doesn't make a config.mk file there ;)

[2018-03-09 02:45] tzanio commented on #50
You can't mix them for now :), see https://github.com/mfem/mfem/issues/312

You can either use `make` (with MFEM build in- or out-of-source) for both MFEM and GLVis, or `CMake` for both of them.

In particular the following should work with a CMake build of MFEM:
[code]

[2018-03-09 03:09] markcmiller86 commented on #50
So, I am not seeing a CMakeListst.txt file in glvis-3.3

[code]

[2018-03-09 03:23] tzanio commented on #50
Good point -- that was added in 879621285ddbbe0d, sorry!

You can either switch to master, instead of 3.3, or use the plain `make` build system.

[2018-03-10 01:34] #50 closed

[2018-03-14 00:08] YohannDudouit opened #51 "Bug with periodic meshes"
I don't know if this is a known bug but the cutting plane doesn't work as I would expect with periodic meshes.
![bug_glvis](https://user-images.githubusercontent.com/190171/37376353-09db16ea-26e1-11e8-99f6-468417743b40.png)

Cheers,
Y

[2018-03-20 17:57] markcmiller86 opened #52 "master compilation failure due to undef'd fontbase"
I happened to download master because I needed a cmake-enabled glvis.

I tried to build on OSX 10.11.6. I had to turn off PNG and FREETYPE due to...

[code]
But, then I ran into this error...
[code]
Adding ``extern GLuint fontbase;`` declaration to to vssolution.cpp fixes

[2018-03-20 17:59] markcmiller86 opened #53 "Can't get master to connect to display on OSX"
After building master (according to #52), I can't get it to run correctly...

[code]

I know glxgears works fine here.

[2018-03-20 23:13] markcmiller86 commented on #53
So, I am able to get glvis-3.3 release working fine on my OSX system. Its just the current master that is broken in some respects. Just FYI. No urgency.

[2018-03-22 19:57] tzanio commented on #51
Yes, that is a known issue. We'd like to address it in the future, but feel free to propose a PR :)

[2018-03-22 20:07] tzanio commented on #53
Hi Mark,

Did you build `glvis@master` with `mfem@master` (if not, can you try that)? Can you double check that you can run `glxgears` from inside `XQuartz` terminal (`⌘N`)?

I'm not sure what is going on here -- I have macOS Sierra, 10.12.6, and all versions of GLVis seem to behave well on it.

@GLVis/everyone: Does anyone else have similar `Can't connect to display!` issues on a Mac?

[2018-03-22 20:26] tzanio commented on #52
Can this be due to a previous installation that you upgraded over?

On my Macs (10.11.6 and 10.12.6) both `libpng` and `libfreetype` are available in `/opt/X11/lib/`.

Can you make sure you have them there too (I think they come with `XQuartz`) and try listing that before `/sw/lib` in your path?

[2018-03-28 00:41] markcmiller86 commented on #53
Yes, I can run glxgears from inside XQuartz terminal window.

Will try both @ master and see if that fixes

[2018-03-28 00:42] markcmiller86 commented on #52
I supposed it could be. However, that doesn't change the fact there is a clear bug in vssolution.cpp missing the extern for fontbase when PNG and FREETYPE are turned off.

[2018-03-28 17:59] markcmiller86 opened #54 "Bad keystrokes result in runaway glvis windows crashing X server"
Unfortunately, I can't recall exact key strokes that caused this. However, in a terminal window I am running mesh-explorer and I have a glvis process running as well moving back and forth between terminal window and glvis window to enter key strokes and change things. On more than a few occasions now, I've accidentally hit the wrong key in the wrong window causing mesh-explorer to loop endlessly..

[2018-04-01 10:09] jakubcerveny opened #55 "Too many open files when reading parallel mesh & solution"
After some recent changes in GLVis (meshes and solutions in the same file), it is no longer able to open a larger parallel solution (like 4096 CPUs). The error you get is something like

```Can not open mesh file: sedov_500_mesh.001013!```

while the file clearly exists and can be opened. It turns out GLVis is trying to open all of the files at once and the default limit on Ubuntu is ~1000 concurr

[2018-04-08 00:04] v-dobrev commented on #54
Hi Mark,

The only explanation I can think of is the following: from the output you pasted above, it looks like the variable `mk` that is read from `cin` is set to `'e'` and then somehow consequent reads from `cin` (in the expression `cin >> mk;`) fail without changing the value of `mk` and this leads to the infinite loop which executes the `'e'` command every time resulting in opening a new windo

[2018-04-08 00:57] v-dobrev commented on #51
Since this is a real issue, let's keep it open until it is resolved.

[2018-04-09 16:15] #52 closed

[2018-04-30 09:15] CsatiZoltan opened #58 "Can I redistribute the binary?"
I use the glvis executable in my Matlab code. My Matlab program is in a private repository on Bitbucket and it may later become public. However, I never intend my code to be used outside academia. Is it allowed to ship the compiled glvis with my code? It would simplify the usage.

I read the GNU license, I just want to make sure if I can do so.

[2018-04-30 11:41] dalcinl commented on #58
So, basically, you are asking for **free legal advice** to folks who write and distribute free software under a free license, so you can benefit from your non-free code? :-)

[2018-04-30 13:47] CsatiZoltan commented on #58
Well, it is currently just I who uses it, and when it reaches a certain maturity, I will change to a public repository with MIT license so it will as free as it can.

[2018-05-01 07:38] dalcinl commented on #58
Well, as long as you keep it private and only for you, I think you can host the binary in your repo.

PS: I'm not a lawyer, just a user and casual contributor to this project, so take my words with a grain of salt.

[2018-05-01 22:05] Follett2 commented on #58
Thanks for your interest in glvis.  Here at Lawrence Livermore National Laboratory, we make software like glvis available to the public through open source licenses so it can be easily reused with clear legal rights and requirements.  But we don't provide legal advice or interpretations of the license - especially since reusing/redistributing /integrating codes often have facts unique to each situ

[2018-05-02 06:50] CsatiZoltan commented on #58
@Follett2 Thank you. When my toolbox becomes public, I may change its license to fit LGPL v2.1 (however I use other external programs too, which have different licenses, so it will be a bit of challenge to fulfil all). I will then write an e-mail to the link you provided.

[2018-05-02 06:50] #58 closed

[2018-05-08 11:24] CsatiZoltan opened #59 "Interest in MATLAB wrapper?"
I am currently working on a simplistic MATLAB wrapper of GLVis. Originally, I intended to create a repo for it on my account. However, if this organization is interested in it, I could create the repository inside the [GLVis organization](https://github.com/GLVis).

[2018-05-08 13:34] tzanio commented on #59
Hi @CsatiZoltan,

Yes that will certainly be of interest.

One option is that you start the development in your account and then transfer the ownership of the repository to the GLVis organization. This is what we did with https://github.com/mfem/PyMFEM.

Another option is to create the repository directly inside the GLVis organization.

I'm OK with both options :).

Cheers,
Tzanio

[2018-05-08 14:37] CsatiZoltan commented on #59
I start it with my account and when it's mature, I will reopen this issue to discuss if you want it or not to be transferred.

[2018-05-08 14:37] #59 closed

[2018-06-20 18:04] kanye-quest opened #61 "Modern OpenGL port"
Hello, I am currently working on creating a Jupyter add-on that uses GlVis, by building the library with emscripten. In the process, I have been porting over some of the immediate-mode OpenGL to a modern OpenGL featureset.

So far I have implemented:
- Replacing the fixed-function lighting/matrix stack with shaders
- Using a texture atlas to render text
- Using SDL2 for window/input management ins

[2018-06-20 18:09] tzanio commented on #61
Welcome @kanye-quest!

Yes, we are definitely interested. Feel free to create a branch in the GLVis org and issue a PR when you are ready.

Tzanio

[2018-06-20 18:16] tzanio commented on #61
BTW, we've been wanting to modernize GLVIs for a long time.

One effort in that direction is @jakubcerveny's  https://github.com/jakubcerveny/hogtess

[2018-06-20 20:08] v-dobrev commented on #61
Sounds very interesting!

[2018-06-24 13:07] xfliu opened #62 "About install on Ubuntu 2018.04 LTS"
I tried to install the glvis on Ubuntu 2018.04 LTS, but failed with the following error.

After searching on Google, I got the answer as follows.

https://askubuntu.com/questions/1035062/glvis-linker-error-undefined-reference-to-symbol-xgetwindowattributs

Hope that this will be helpful to people with the same problem.

[2018-06-24 20:39] v-dobrev commented on #62
Thanks for reporting this issue. I made a PR to address it.

[2018-06-25 20:47] #62 closed

[2018-06-28 09:03] cuneytsert commented on #42
While building GLVis-3.4 under Cygwin I'm getting the following and many other similar errors. I already installed the Cygwin packages suggested above. What might be the problem?

lib/libglvis.a(aux_vis.o):aux_vis.cpp:(.text+0xd4): undefined reference to `XKeysymToKeycode'

[2018-06-28 17:44] v-dobrev commented on #42
Hi @cuneytsert,

This issue is related to #62 and the fix for it (#63 which is now merged) should work for Cygwin as well.

You can either use the latest version of GLVis from GitHub, as described above, or you can build v3.4 by adding `X11_LIB_DIR=/usr` to the `make` command line for building GLVis.

[2018-06-29 07:41] cuneytsert commented on #42
Yes, it worked. Thank you.

[2018-07-13 13:35] martinvandriel opened #64 "VTK xml file support with high order lagrange elements"
Hi,
I am wondering if the VTK xlm file are supported at all (I get an error when I try to open them) or only the legacy format? How about chances to use their recently added support for high order Lagrange elements.

BTW: this statement on http://glvis.org/curvilinear-vtk-meshes/ is a bit misleading, as it is true for the legacy format only: 'Currently VTK does not support cubic, and higher-order

[2018-07-18 01:29] tzanio commented on #61
Hi @kanye-quest, are you ready to create a branch to share some of this work?

[2018-07-18 09:16] martinvandriel commented on #64
Hi Veselin,

thanks for the link to FMS, I'll definitely take a closer look. For now I am not sure if there is an easy path to writing these files for me as I do all the mesh handling in python.

As for VTK, I figured that the legacy files also support the high order elements with element types defined here: https://www.vtk.org/doc/nightly/html/vtkCellType_8h_source.html
Maybe this is easier for y

[2018-07-18 14:18] tzanio commented on #64
Hi Martin,

Can you post a link to the description of the nodes of `VTK_HIGHER_ORDER_EDGE` or `VTK_HIGHER_ORDER_HEXAHEDRON`? With high-order, there are many different choices for bases, and in particular one wants to use nodes like Gauss-Lobatto instead of uniform points.

Tzanio

[2018-07-18 14:30] martinvandriel commented on #64
Just realizing you asked for `VTK_HIGHER_ORDER_HEXAHEDRON`. I think you want the `VTK_LAGRANGE_HEXAHEDRON`, my understanding is these are the only ones that support arbitrary order.
Martin

[2018-07-18 14:32] tzanio commented on #64
Thanks Martin, can you share the file?

[2018-07-18 14:33] martinvandriel commented on #64
[vtk_node_order.json.zip](https://github.com/GLVis/glvis/files/2206179/vtk_node_order.json.zip)

[2018-07-18 21:15] tzanio commented on #61
That will be preferable. Alternatively you can issue a PR from your work, and [give us write access to it](https://help.github.com/articles/allowing-changes-to-a-pull-request-branch-created-from-a-fork/).

[2018-07-25 20:20] agrayver commented on #64
We have been looking at Lagrange cells in VTK with @martinvandriel together.

I have extracted the relevant code to generate quads/hexes of any degree (up to 10 -- this is limitation of VTK itself) and write the mesh in VTK legacy format. Here is the [code](https://github.com/agrayver/VTK_Lagrange).

For other element types, you will find the relevant code [here](https://github.com/Kitware/VTK/blo

[2018-07-26 01:16] v-dobrev commented on #64
@agrayver, your last sentence seems to imply that Paraview can read and visualize these high-order VTK meshes and solutions - did I understand that correctly?

[2018-07-26 07:30] agrayver commented on #64
@v-dobrev, yes, they have [added](https://www.paraview.org/Wiki/ParaView_Release_Notes#Arbitrary-order_Lagrange_finite_element_support) support for this recently.

[2018-08-21 13:53] Jannertje opened #68 "Visualising 1D mesh embedded in 2D segfaults"
In Example 7 of MFEM, we look at a surface mesh: a 2D mesh of triangles embedded in 3D space.

For my own research, I want to take this a step easier and look at a 1D mesh of segments embedded in 2D space.
From the MFEM side, I think things work well enough. However, when I try to visualize this mesh inside GLVis, I get a segmentation fault. I do realise GLVis is not made to visualise 1D data, but

[2018-08-21 15:34] v-dobrev commented on #68
I'll take a look - we probably just need to check for such cases and produce an error message.

Thanks for reporting this issue.

[2018-09-13 08:55] DennisRoddeman opened #69 "-lX11 and vtk unstructured problem"
Hi,

1. comment: I need -lX11 to compile glvis on my linux mint tara,
2. question: When I do 'glvis -m test.vtk (with the attached test.vtk) I get the next, why?
[test.zip](https://github.com/GLVis/glvis/files/2378465/test.zip)

    MFEM abort: VTK mesh is not UNSTRUCTURED_GRID!
 ... in function: void mfem::Mesh::ReadVTKMesh(std::istream&, int&, int&)
 ... at line 387 of file: mesh/mesh_readers.cp

[2018-09-13 19:53] v-dobrev commented on #69
Hi @DennisRoddeman,

There is an empty line in your VTK file, between the lines containing `ASCII` and `DATASET UNSTRUCTURED_GRID` that MFEM does not expect. If you remove it, you'll be able to read the file in MFEM.

It will be easy to add one line in MFEM to skip any white-space between the expected strings - this is in the function: [Mesh::ReadVTKMesh](https://github.com/mfem/mfem/blob/bbac26bf

[2018-09-13 19:56] v-dobrev commented on #69
Regarding the `-lX11` flag: are you building the current master branch, or the release (v3.4) version? If you are using the release version, can you try the master branch - I think the issue may be resolved there.

[2018-09-14 07:04] DennisRoddeman commented on #69
Hi Veselin,

-lX11:  I think that I indeed took the release 3.4
VTK file: I will skip that line
only mesh: Ah, I didn't realise that, just started without reading manuals, I now wil read ...

Thank you, Dennis

[2018-09-15 06:01] #69 closed

[2018-09-17 19:03] #53 closed

[2018-10-14 23:59] tzanio commented on #51
Wow, that is very cool and a definite improvement (especially on coarser meshes)!

It also seems to help with #51.

[2018-10-19 15:53] Jannertje opened #72 "Using a socket to update the plot caption"
Heya,

I'm using GLVis + MFEM for my research, and have an application that is continuously pushing new solutions to GLVis through a socket, like you are doing in your MFEM example code.

I found in your GLVis CHANGELOG file a reference to an undocumented socket command `plot_caption`, which I've been trying to get to work.

My current code is (somewhat like) the one from your examples:
[code]
How

[2018-10-19 16:52] v-dobrev commented on #72
Hi @Jannertje,

The plot caption itself has to be quoted -- the first non-whitespace symbol after `plot_cation` is treated as the quoting symbol. For example, in you code you can single quotes: instead of `"heya"` use `"'heya'"`. This is done so that you can have almost any combination of symbols in the caption while keeping the parsing code in GLVis simple.

Hope this helps,
Veselin

[2018-10-19 16:53] tzanio commented on #72
See also https://github.com/mfem/mfem/blob/master/examples/ex17.cpp#L297-L303

[2018-11-01 22:15] Skyzerks opened #73 "Can't connect to display on Ubuntu bash shell (running as subsystem on Windows 10)"
Hello there!
[code]

Wanted to look at how it will display a mesh example as I intend to build a custom mesh to use it in my magister work. Would be great to get a solution to this as soon as possible. Thanks~

[2018-11-02 04:09] #72 closed

[2018-11-02 04:09] #54 closed

[2018-11-02 04:11] tzanio commented on #51
@YohannDudouit can you try reproducing this with the new improved cutting plane algorithm? It may no longer be an issue...

[2018-11-02 11:49] Skyzerks commented on #73
Installed xinit package `sudo apt-get install xinit`. But after I tried to run it I got:

At first there was a `(EE) parse_vt_settings: Cannot open /dev/tty0 (No such file or directory)`. Tried to fix it with the instructions from [here](https://github.com/dnschneid/crouton/issues/3339). So I run `sudo apt remove xserver-xorg-legacy` and
[code]
to remove it. But...a new problem was found.

[code]

[2018-11-02 20:42] v-dobrev commented on #73
You can try building GLVis with the option `GLVIS_GLX10`. If you are using GNU make, add `-DGLVIS_GLX10` to the definition of the makefile variable `GL_OPTS` here:

https://github.com/GLVis/glvis/blob/1a4bfd863bad1dba52198d7667858a8f7c8293e5/makefile#L119

If you are using CMake, add `-D GLVIS_USE_GLX10=ON` to the `cmake` configuration command line.

[2018-11-02 22:33] v-dobrev commented on #73
The config file you attached is for MFEM -- the define I was talking about is for building GLVis. Since you are not using GNU make or CMake, what you need to do is add an option to your compiler options (when building GLVis) that defines the C/C++ macro `GLVIS_GLX10`. For most compilers this is done by adding the compiler flag `-DGLVIS_GLX10`.

[2018-11-03 01:50] Skyzerks commented on #73
@v-dobrev uncommented the 120 line in the makefile for glvis-3.4
`GL_OPTS = -I$(X11_DIR)/include -DGLVIS_GLX10`
And the visualization now up and running. But do have a question though.

[code]
Is it a normal occurence that the "multisample mode is not available"?

[2018-11-03 04:13] v-dobrev commented on #73
The multisampling support depends on the X server - if it does not support it, GLVis cannot use it, so it is disabled.

You can try other multisample modes with the `-ms` option of GLVis, e.g. `-ms 2` or `-ms 8` (default is `-ms 4`).

[2018-11-29 01:39] #73 closed

[2018-11-29 01:39] tzanio commented on #64
See also https://github.com/mfem/mfem/issues/678

[2018-11-29 01:40] tzanio commented on #61
This issue is superseded by https://github.com/GLVis/glvis/pull/66

[2018-11-29 01:40] #61 closed

[2018-11-29 01:41] tzanio commented on #51
This was likely addressed by #71.

[2018-11-29 01:41] #51 closed

[2018-11-30 23:25] ben-s-southworth opened #76 "X Error of failed request: BadValue (integer parameter out of range for operation)"
I am trying to visualize a mesh output from MFEM on Quartz, but get a BadValue error from GLVIS:

[code]
The -DGLVIS_GLX10 (as suggested in Issue 5) is already in my makefile. Any other tips here?

[2018-11-30 23:40] tzanio commented on #76
Which version of XQuartz and macOS are you running?

[2018-12-02 17:58] ben-s-southworth commented on #76
Last week I was running OS 10.12.6 and Xquartz 2.7.9. This weekend I upgraded to OS 10.14 and Xquartz 2.7.11, but got the same error.

[2018-12-02 18:07] tzanio commented on #76
And you are still getting the error with a clean clone of `master` without the `-DGLVIS_GLX10` option?

[2018-12-02 18:08] tzanio commented on #76
That's unlikely to make a difference, but can you start Xquartz manually before you run the `glvis -m ...` command?

[2018-12-02 18:48] ben-s-southworth commented on #76
I logged out of quartz, opened Xquartz, and logged back into quartz. Then I reset hard to the master branch for glvis, added the -DGLVIS_GLX10 flag in the makefile (where it is commented out), and compiled. Sample line looks like:
`cd lib; /usr/tce/packages/mvapich2/mvapich2-2.2-intel-18.0.1/bin/mpicxx -O3 -DNDEBUG -I/g/g19/bs/quartz/mfem/bens_build -I/g/g19/bs/quartz/metis/build/Linux-x86_64/incl

[2018-12-02 19:42] ben-s-southworth commented on #76
A new postdoc Ben Yee had a similar issue but was addressed by using an older version of Xquartz; would this help? I was running a fairly outdated version already last week though (2.7.9).

[2018-12-04 00:02] v-dobrev commented on #76
Wait, are you trying to run GLVis remotely on a linux server and visualize it locally on a Mac?

[2018-12-04 00:15] ben-s-southworth commented on #76
@v-dobrev Yes

[2018-12-04 01:08] v-dobrev commented on #76
I just tried this on Mac (macOS 10.13.6 with XQuartz 2.7.11) and it worked fine. However, this is with an ssh connection that I just opened - I've had issues with the X connection going bad after some time - initially I can open X applications (emacs) fine but later it no longer works.

Can you try restarting your ssh connection? I know this is not a real solution but it is not a GLVis issue eithe

[2018-12-04 05:47] ben-s-southworth commented on #76
Strange, yea I have tried rebooting and starting a fresh ssh. How is your ssh set up? I have my ~/.ssh/config file set up like

[code]

[2018-12-05 21:05] v-dobrev commented on #76
I use `ssh -X quartz.llnl.gov`. Can you open other X applications, e.g. xterm?

[2018-12-05 22:17] tzanio commented on #76
On my Macs (laptop and iMac with macOS 10.13.6) I have to use `-Y` instead of `-X`, but otherwise the following works both when I'm plugged in the network and via Wi-Fi:

[code]

(Also, my ` ~/.ssh/config` files are essentially empty)

[2018-12-06 17:07] #76 closed

[2018-12-06 17:56] tzanio commented on #76
Thanks Ben.

Acording to https://github.com/CDAT/vcdat/wiki/Troubleshooting, you need to reboot after the `default write` command. Did you try that?

[2019-01-08 08:36] e-aranda opened #78 "fixed colorbar's range"
I would like to represent different results with the same colorbar range. I mean,
I have two sets of data, the first one with values between 0 and 1, the second one between 0 and 0.7. Using the same palette, the color of a 0.5 value in the first one data set is different from the color of the second one for the same value because colorbar is adapted to the range values. Is it possible to represent

[2019-01-08 09:21] jakubcerveny commented on #78
I think it's the `F7` key that you can set the min/max of the colorbar with. If you press `H`, a help on most of the keys is displayed in the terminal.

[2019-01-08 15:24] tzanio commented on #78
The `README` file is probably the best "tutorial" for the available keystrokes.

All GLVis "commands" like `valuerange` above a listed in this portion of the code: https://github.com/GLVis/glvis/blob/e46168bbcc081277ddff17d6d378e5c561b0c1db/glvis.cpp#L763-L1020

We plan to work on better documentation in the future.

[2019-01-09 04:32] v-dobrev commented on #78
Just to clarify: there are two different (though intentionally very similar) sets of GLVis commands: one for commands in GLVis scripts (executed from the command line with the `-run`/`--run-script` option) and commands sent to GLVis through socket connections. What @tzanio linked above are the script commands. The socket commands are in the following big `if` statement: https://github.com/GLVis/gl

[2019-01-09 04:36] v-dobrev commented on #78
By the way, regarding GLVis scripts, there is a short description of this capability here: https://glvis.org/options-and-use.

[2019-01-11 20:31] yw5aj opened #79 "Problem compiling glvis in Windows Subsystem Linux Ubuntu 18.04"
Dear all,

I am trying to compile glvis 3.4 in WSL Ubuntu 18.04 and ran into some issues. When I run make, I saw the following message:

[code]

I have updated my libx11-dev to the latest version; the X server seems to be running property with VcXsrv (gedit is running up fine). Could you please help provide some hints?

Best,
Shawn

[2019-01-11 21:11] v-dobrev commented on #79
I believe this issue was fixed in PR #63. Try using the latest `master` branch.

[2019-01-11 23:37] yw5aj commented on #79
Thank you @v-dobrev ! I did that and the old problem was gone. However, I saw this:

[code]

Seems like a bug to me ...?

Shawn

[2019-01-11 23:41] yw5aj commented on #79
Yes - using both the latest master branch worked! Thank you so much again.

Best,
Shawn

[2019-01-11 23:41] #79 closed

[2019-01-13 01:05] #78 closed

[2019-03-14 08:55] vryy opened #81 "fail compiling glvis-3.4 on Ubuntu 18.04 LTS"
I have this error when compiling on Ubuntu 18.04 LTS

/usr/bin/ld: lib/libglvis.a(aux_vis.o): undefined reference to symbol 'XGetWindowAttributes'
//usr/lib/x86_64-linux-gnu/libX11.so.6: error adding symbols: DSO missing from command line

This does not happen with glvis3.3, so I think this issue is recently introduced.

[2019-03-14 11:50] tzanio commented on #81
Can you try the solution proposed in #79 (using latest master branches for both mfem and glvis)?

[2019-03-14 22:32] vryy commented on #81
yes, it works. Thank you.

[2019-03-14 22:32] #81 closed

[2019-03-14 23:18] vryy commented on #37
Hi @tzanio

I believe the varnurbs works. The file below has different order in dimension and displays as expected

[code]

On the results, the format shall be:

[code]
If FiniteElementCollection==NURBS1 the default order will be used, for FiniteElementCollection==NURBS2 the order will be increased in both u&v, and so on?

[2019-03-15 21:54] tzanio commented on #37
@IdoAkkerman, can you comment on @vryy's question above regarding variable order NURBS grid functions?

[2019-03-19 17:55] e-aranda opened #82 "metis dependence"
Hello,

I am trying to install glvis once I have installed mfem with suitesparse. Do I need metis? because I have a linking error with that.

Thanks,
Ernesto

[2019-03-19 18:35] tzanio commented on #82
Yes, SuiteSparse depends on metis.

[2019-03-20 10:47] najlkin opened #83 "Setting min/max value does not work"
The key F7 for setting min/max value does not work in server mode. I have tried to track it back and it is broken since the commit c05738f , which added the key combination Shift+F7 for setting the whole bounding box.

[2019-03-20 11:20] e-aranda commented on #82
Ok, thank you

[2019-03-20 11:20] #82 closed

[2019-03-20 16:49] tzanio commented on #83
Thanks for reporting this. I can reproduce it on Linux, though it seems to work fine on Mac.

Revising the `if` statement as follows seems to fix it:

[code]
@v-dobrev -- what do you think?

[2019-03-20 18:24] v-dobrev commented on #83
Sounds good to me - make the change.

[2019-03-20 18:35] tzanio commented on #83
@najlkin, can you confirm that #84 works for you?

[2019-03-21 08:43] najlkin commented on #83
Yes, it works perfectly for me :wink: The issue was hardware specific maybe. I have tried master branch at a different computer with nearly the same OS and there were no problems at all. It seems that certain piece of hardware in combination with certain OS sets some extra stuff in the state variable, but there is no need to test all bits anyway.

[2019-03-21 14:55] #83 closed

[2019-04-11 10:19] vryy commented on #37
Hello, can anyone comment on this, so that I can really close this issue?

[2019-04-16 07:13] v-dobrev commented on #37
Hi @vryy,

If I understand your question correctly, you want to know what the format for scalar variable-order NURBS solutions (i.e. `mfem::GridFunction`s) is. Is that correct?

If that is the case, here is what the solution file should look like (this example describes the solution by patches):
[code]
Note that this example assumes the solution uses the same orders as the mesh.

Let me know if yo

[2019-04-18 15:44] vryy commented on #37
@v-dobrev thanks for your info. I did as above with an example. Here I attached a mesh file, and the 2 result files. One for displacement field with 3 components, and the other for stress with 6 components.

[internal_pressurized_cylinder.zip](https://github.com/GLVis/glvis/files/3095126/internal_pressurized_cylinder.zip)

Glvis works and visualizes the displacement but i'm not sure if it reads co

[2019-06-19 19:58] hauten opened #86 "Update repo topics"
A new page on the LLNL software portal (https://software.llnl.gov/radiuss/) will soon dynamically pull in RADIUSS repos. To achieve this, we need RADIUSS-related repos outside the LLNL org to be tagged with relevant topics. See LLNL/llnl.github.io#17, LLNL/llnl.github.io#151, & https://github.com/LLNL/llnl.github.io/blob/new-home-page/radiuss/README.md for additional context.

GLVis already has `d

[2019-06-19 20:13] tzanio commented on #86
Done. Thanks @hauten!

[2019-06-19 20:13] #86 closed

[2019-06-28 07:49] thengineer commented on #53
Just for the record, I used to have the same issue.
I've tried v3.3, v3.4 and the current master branch: all versions fail with the message above.

What helped, was to install XQuartz from the official website instead of through  homebrew.

[2019-07-03 18:10] RashikShahjahan opened #87 "GLVis build failed"
I am trying to build GLVis using `make MFEM_DIR=../mfem-3.0 -j` however I am getting the following errors:
[code]

[2019-07-03 18:13] tzanio commented on #87
You need OpenGL support, either XQuarz on Mac or the corresponding Linux packages, see

https://github.com/GLVis/glvis/blob/master/INSTALL#L117-L120

[2019-07-03 18:17] RashikShahjahan commented on #87
@tzanio I am using Cygwin on Windows 10.

[2019-07-03 18:24] tzanio commented on #87
Then see https://github.com/GLVis/glvis/blob/master/INSTALL#L32-L34

[2019-07-03 18:41] RashikShahjahan commented on #87
I am getting this now: lib/libglvis.a(tk.o):tk.cpp:(.text+0x2884): undefined reference to `XFreeFont'
 And bunch of similar errors.

[2019-07-09 17:56] barker29 opened #88 "keys do not work reliably from command line"
If you run MFEM example 1 and then try to visualize the solution like so:
[code]
The saved figure does not have the colorbar, as you would expect from the `c` key.

If you run it and enter the same keys by hand, the saved figure does have the colorbar.

I would like to use GLVis in scripts to automatically generate pictures with colorbars but so far am unable to do so.

[2019-07-10 02:05] v-dobrev commented on #88
You should be able to use a GLVis script -- see https://glvis.org/options-and-use/#glvis-scripts.

The script commands are not documented but they are easy to see in this function:
https://github.com/GLVis/glvis/blob/20aeb2c03ce70f445232dba74179e03c94de0c2c/glvis.cpp#L641

[2019-07-10 15:00] barker29 commented on #88
Thanks for the response.

My issue with GLVis scripts is they run interactively. Pressing the space bar (or any other keys) is exactly what I am trying to avoid.

In any case, this is a minor issue.

[2019-07-10 23:02] v-dobrev commented on #88
You can generate the data for all screenshots and then create and run one GLVis script -- then you need to press space bar only once. Also, you can probably generate the GLVis script from your script.

That said, it is probably not too hard to update the way the `S` key is handled when given at the command line -- we just need to force an update of the GLVis window before we actually take the scre

[2019-07-10 23:10] v-dobrev commented on #88
Looking at the code, it seems like you may be able to force a redraw before the `'S'` key is processed by adding the "key" `'~e'` -- e.g. `glvis -m refined.mesh -g sol.gf -k "c~eS"`. Can you try this?

[2019-07-10 23:42] barker29 commented on #88
Yes, the `~e` trick works fine. Thanks!

[2019-07-10 23:42] #88 closed

[2019-08-18 22:46] xixihaha1995 commented on #42
Hi,  @v-dobrev. I‘'m using windows 10 64 bits, visual studio crashed on my pc; as for Ubuntu under windows 10, I have no idea why it said "cannot connect to display"(I've read and tried the solutions within the issue#73, but it didn't help me, so I went back to make mfem and glvis on windows 10):
Firstly, I have  changed "typedef  **int** ssize_t" to "typedef  **__int64** ssize_t" in socketstream.

[2019-08-19 21:05] v-dobrev commented on #42
@xixihaha1995,

Which version of GLVis are you using? If you are using the release v3.4, try switching to the latest version from the GitHub repository.

You can also try (with the version you have now) adding `X11_DIR=/usr/X11` to your `make` command. The path `/usr/X11` has to be the path where the X11 headers/libs are, e.g. `/usr/X11/include/X11/Xlib.h`.

[2019-08-22 15:08] tzanio commented on #87
Try setting `GLVIS_USE_FREETYPE = NO` in the makefile

[2019-10-04 19:05] bradfc opened #90 "header files missing"
I'm trying to build and install GLVis in conjunction with MFEM on an Odroid N2 - a 6-core SOC with ARM architecture.  I have built MFEM and built or installed freetype2 and fontconfig.  Nevertheless, I'm getting errors like this when I try to build GLVis:

ft2build.h not found
fontconfig.h not found

Since it has stalled at this point there may be other files not found.  I can try to locate these

[2019-10-04 21:46] v-dobrev commented on #90
Are you using GNU make to build GLVis? If that is the case, take a look at the following section of the makefile:
https://github.com/GLVis/glvis/blob/ab82359a9b8adb548369a9514c183703140bd7b2/makefile#L157-L170

You may need to set `FT_OPTS` manually, e.g. edit the `-I...` flag.

[2019-10-05 00:05] bradfc commented on #90
I was able to do that for freetype2, but for fontconfig, the header file isn’t there, even though I installed the package using apt-get.  If I try uninstalling that with the intent to build from scratch, I get messages that emacs depends upon it.   I’m nervous about breaking dependencies just to get this to work.

[2019-10-06 02:31] bradfc opened #91 "Black & white image (no color) with MFEM"
I managed to build MFEM and GLVis on an Odroid N2 - a 6-core SOC with ARM architecture. It runs Ubuntu with gcc and OpenMP installed. When I launch GLVis, I get the following:

Waiting for data on port 19916 ...
Window type not found!
Initializing the visualization failed.

Not sure what the problem is.  The Odroid is running headless, and I access it via tightvnc.  Could that be the problem?

[2019-10-06 15:14] bradfc commented on #91
Addendum: I got that error to go away by building GLVis using

GL_OPTS = -lX11 -DGLVIS_GLX10

in the Makefile.

However, now when I run the first MFEM example:

ex1 -m ../data/star.mesh

I get a sketchy black and white outline rather than a full color image.

I get a color image if I run GLVis on a sample mesh, but not if I run MFEM.

[2019-10-09 00:10] v-dobrev commented on #90
You probably need the development package for fontconfig which should include the header files -- it should have a name like `fontconfig-dev` or `fontconfig-devel`. I just looked and on ubuntu it looks like you want the package: `libfontconfig1-dev`, see e.g. https://packages.ubuntu.com/bionic/libfontconfig1-dev

[2019-10-09 15:34] bradfc commented on #90
Thanks.  I did find the development packages and was able to complete the installation.  In the meantime, when I run GLVis with MFEM I get only gray-shade images as opposed to full color, though I do get color images when running GLVis in stand-alone mode (Issue #91).

[2019-10-11 15:22] bradfc opened #92 "MFEM/GLVis crashes running tutorial files from Gmsh"
I'm trying to test GLVis on mesh files generated by Gmsh.  A few are rendered OK, but then I ran into this error:
MFEM abort: Non-positive element attribute in Gmsh mesh!
... in function: void mfem::Mesh::ReadGmshMesh(std::istream&)
... in file: mesh/mesh_readers.cpp:1172
Abort (core dumped)

Another example just gave (with no message)
Abort (core dumped)

Not sure how to track this down.

Another

[2019-10-16 00:09] v-dobrev commented on #92
This is probably related to https://github.com/mfem/mfem/issues/464.

Can you link or post one of the smaller meshes that generate this error?

[2019-10-16 00:54] bradfc commented on #92
A couple of examples follow below.

In the meantime, I’d like to know what MFEM/GLVis uses for its examples in mfem/data, for example square-disc.mesh; it looks better in terms of curvature behavior than what I can get out of gmsh.

In these runs I specified gmsh version 2 output format.

1st example: t1.geo -> t1a.geo: I get

MFEM abort: Gmsh file : vertices indices are not unique
 ... in functio

[2019-10-16 13:17] bradfc commented on #92
I realized that not everyone has gmsh installed.  Here's a copy of t1a.msh in version 2 format where I've minimized the number of points.

I note also that I'm getting 2-3 different error messages from GLVis depending upon which .msh file I use.

$MeshFormat
4.1 0 8
$EndMeshFormat
$PhysicalNames
1
2 6 "My surface"
$EndPhysicalNames
$Entities
5 5 2 0
1 0 0 0 0
2 10 0 0 0
3 10 5 0 0
4 0 5 0 0
5 7 2.

[2019-10-17 00:23] v-dobrev commented on #92
The msh file you posted shows version "4.1" -- this is the first number after "$MeshFormat". You need to generate version "2.2" mesh format which is what the Gmsh reader in MFEM expects. Currently, it looks like the reader just checks `if (version < 2.2)` to report an error. We should probably update this to check `if (version != 2.2)`.

[2019-10-17 01:21] bradfc commented on #92
My mistake - I saved the version 2 format but gmsh did not append the .msh suffix, so I missed the most recent save.  That said, I can't reconcile the gmsh and GLVis images:

Here is the gmsh image:

![image](https://user-images.githubusercontent.com/26093496/66969998-d6528a80-f059-11e9-9ab2-d95c3100c54f.png)

...and here is the GLVis rendered image:

![image](https://user-images.githubusercontent

[2019-10-17 02:33] v-dobrev commented on #92
Can you link or post the version "2.2" file?

[2019-10-17 02:49] bradfc commented on #92
Here it is.  I've verified that it's version 2!

I note that I used the Open CASCADE option to build this file.  Could that be a problem?

$MeshFormat
2.2 0 8
$EndMeshFormat
$PhysicalNames
1
2 6 "My surface"
$EndPhysicalNames
$Nodes
32
1 0 0 0
2 10 0 0
3 10 5 0
4 0 5 0
5 7 2.5 0
6 1.111111111111111 0 0
7 2.222222222222224 0 0
8 3.333333333333337 0 0
9 4.44444444444445 0 0
10 5.555555555555562 0 0

[2019-10-17 03:34] v-dobrev commented on #92
All elements described by this file are line segments, so that is what GLVis shows. Note that the Gmsh reader discards the y-coordinates since it sees only 1D elements and then GLVis extrudes this 1D mesh in y direction just for visualization and that is why you see quad elements. Maybe this is just the boundary of your 2D mesh?

[2019-11-06 17:56] solberg2 opened #93 "GLVis does not work through XWin32, does through RealVNC"
When I try to run GlVis through XWin32 back to a Windows machine, the visualization window pops up for just a second and then disappears.  Otherwise the command line is present, etc.   This does not happen through RealVNC, but there are other issues with using that.

[2019-11-06 21:10] v-dobrev commented on #93
I have not tried running GLVis with XWin32. Some time ago I was able to build and run GLVis under cygwin -- see https://github.com/GLVis/glvis/issues/42#issuecomment-348492951 and the follow-up https://github.com/GLVis/glvis/issues/42#issuecomment-348681930.

I think you can also build and run GLVis using "Ubuntu bash shell (running as subsystem on Windows 10)" -- see #73.

[2019-11-06 21:14] v-dobrev commented on #93
See also #79 for a related issue with "Windows Subsystem Linux Ubuntu 18.04".

[2019-11-06 21:18] solberg2 commented on #93
I'm not trying to build it under XWin32 (that's not possible).  I'm just trying to send the graphics back, like other XWindows applications do.  I have a workaround, but it seems like something is not correct here.

[2019-11-06 21:40] v-dobrev commented on #93
Oh, are you running GLVis on a remote machine using XWin32 as the X-server?

One thing you can try is to un-comment the second line here:
https://github.com/GLVis/glvis/blob/ab82359a9b8adb548369a9514c183703140bd7b2/makefile#L135-L136

This helps with some X-servers.

[2019-11-06 22:08] solberg2 commented on #93
Yes, that is what I am trying to do.  Thank you so much for helping!  That didn't work.  I am investigating some more.  Thanks so much again

[2019-11-13 19:16] dylan-copeland commented on #55
I also have this problem, except I am using a machine where I am unable to use the workaround "ulimit -n 10000". A real fix is needed.

[2019-11-26 00:59] kmittal2 opened #94 "Visualize multiple meshes"
I would like to overlay two meshes in the same GLVis window for comparison purposes. What is the best way to do this in GLVis?

[2019-11-26 02:10] v-dobrev commented on #94
If your meshes have the same connectivity, you can send to GLVis one of the meshes and as a solution send the displacement to the other. This is what happens in `ex2`/`ex2p`. Then to see both meshes in GLVis press the following keys: `mdbe` -- in example 2 this will show the mesh (here this is the deformed configuration) in black and the mesh+displacement in red (here displacement is the backward

[2019-11-26 17:22] kmittal2 commented on #94
Thanks @v-dobrev. I am trying to compare two different meshes with different connectivity (but for the same domain).

[2019-11-26 23:58] kmittal2 commented on #94
I am able to visualize two meshes simultaneously using Visit so I am closing this issue.

[2019-11-26 23:58] #94 closed

[2019-11-27 09:11] MPhysXDev opened #95 "GLVis fails to build from spack"
We have been trying (unsuccessfully) to build GLVis with spack, see attached output:

[GLVis spack.txt](https://github.com/GLVis/glvis/files/3895989/GLVis.spack.txt)

Trying to further constrain the spec of virtual gl packages (spack install glvis ^mesa ^mesa-glu) does not change a thing.

Any idea ?

MPhysX Development Team

PS: there is nothing to be found in the spack-build-out.text file btw, e

[2019-12-01 20:17] #87 closed

[2019-12-01 20:18] #90 closed

[2019-12-01 20:25] tzanio commented on #91
Do you mean: "I get a color image if I run **MFEM** but not if I run **GLVis on a sample mesh**"?

If so, that's the intended behavior -- when visualizing a mesh without a solution, GLVis just shows a checkerboard coloring of the elements. So with `glvis -m star.mesh` you should see something like this:

![GLVis_s00](https://user-images.githubusercontent.com/1278247/69919804-a0b10780-1435-11ea-945

[2019-12-01 20:28] tzanio commented on #92
@bradfc, is this related/resolved by https://github.com/mfem/mfem/issues/1128?

[2019-12-01 20:29] tzanio commented on #93
@solberg2, were you able to find more?

[2019-12-01 20:31] tzanio commented on #95
@goxberry and @acfisher -- can you check this?

[2019-12-02 14:36] bradfc commented on #92
It is - thanks very much for your help.

[2019-12-02 14:44] bradfc commented on #91
Actually, here's what I get if I run Example 1

![image](https://user-images.githubusercontent.com/26093496/69968316-29887b80-14e8-11ea-8897-d2c79cc3d744.png)

It's black & white with shading, no color.  For the first example, I do get the checkerboard pattern.

[2019-12-02 15:19] #92 closed

[2019-12-02 15:20] tzanio commented on #91
Can you press `c` and `p` in the GLVis window? Do you get a different (colored palette)?

[2019-12-02 15:28] bradfc commented on #91
If I press c, I get a vertical scale on the right-hand side of the window, but if I press p repeatedly I do get different color/shading combinations.  I didn't realize there were options.

[2019-12-02 15:35] tzanio commented on #91
For some reason the default color palette on your machine is the white one... Can you post the MFEM code that sends the data to GLVis?

And yes, there are many "magic keys", see https://github.com/GLVis/glvis/blob/master/README :)

[2019-12-02 15:45] bradfc commented on #91
The code is simply ex1.cpp, unedited, and run as suggested above.

The machine is an Odroid N2 (armhf architecture) running Ubuntu 18.04.

[2019-12-02 16:56] solberg2 commented on #93
Never could get it to work.  Finally gave up.

From: Tzanio Kolev <notifications@github.com>
Sent: Sunday, December 1, 2019 12:29 PM
To: GLVis/glvis <glvis@noreply.github.com>
Cc: Solberg, Jerome M. <solberg2@llnl.gov>; Mention <mention@noreply.github.com>
Subject: Re: [GLVis/glvis] GLVis does not work through XWin32, does through RealVNC (#93)

@solberg2<https://github.com/solberg2>, were you abl

[2019-12-04 02:14] v-dobrev commented on #95
Judging by the line
[code]
I think this is an issue with the `mesa` spack package (https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/mesa/package.py) -- it does not define the `libs` property (e.g. as in the `mesa-glu` package, https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/mesa-glu/package.py) which is needed in the line highlighted by spac

[2019-12-04 23:56] tzanio commented on #93
Ok thanks. If you can use RealVNC, I think that's preferable anyway...

[2019-12-04 23:56] #93 closed

[2019-12-05 00:00] tzanio commented on #91
I'm not sure what else can be going on here but one way to "fix" this is to send keys to the GLVis window as in:

https://github.com/mfem/mfem/blob/master/examples/ex10.cpp#L403

For example the keys could be `keys ppcm\n`.

[2019-12-05 00:05] bradfc commented on #91
That should work - thanks!

[2019-12-05 20:20] #91 closed

[2020-02-29 05:11] issabass opened #97 "How to add legend, labels inside a figure?"
Hello,
Team GLViS, maybe it is already there, but i do not see how to add labels, legend apart from colormap bar. How to add text, legend and alike to add more comments inside the figure?

When running example like custom case ex5/p5, i'd like to know how to plot vector-valued solutions (with rows not glyph) in its form [u1,u2] not its  magnitude?

Also, is possible to split the window plot into,

[2020-03-12 02:14] samanseifi commented on #95
This worked for me. Thanks

[2020-03-19 16:33] HennesHajduk commented on #78
Using these hints I am able to do one of the following things:
1) Rescale the socketstream with F7 key for each image. Downside: works only manually.
2) Run a glvs-script to adjust the valuerange before taking a snapshot (or doing something similar). Downside: Output to files is required first.

I wonder if there is an easy way to have the valuerange "pre-defined" when an inputstream is sent live

[2020-03-19 18:47] v-dobrev commented on #78
@HennesHajduk, there is a command `autoscale <mode>`, where `<mode>` can be:
* `off` - turn off autoscaling for both mesh box and value range
* `on` (default) - turn on autoscaling for both mesh box and value range
* `mesh` - turn on autoscaling just for the mesh box
* `value` - turn on autoscaling just for the value range.

It is available as both: a stream and a script command.

[2020-03-27 07:56] tyszwh commented on #95
This not work for me. When I add the code
`    def libs(self):
        for dir in ['lib64', 'lib']:
            libs = find_libraries('libGLU', join_path(self.prefix, dir),
                                  shared=True, recursive=False)
            if libs:
                return libs`
to the mesa/package.py. The mesa-glu can not install normally through spack

"Error: AttributeError: 'function' o

[2020-03-27 17:47] v-dobrev commented on #95
I created a PR in spack to fix this: https://github.com/spack/spack/pull/15716. Can you try that? Let me know if that does not work for you.

[2020-03-29 03:00] v-dobrev commented on #95
The spack PR is now merged, so I'll close this issue.

[2020-03-29 03:00] #95 closed

[2020-03-29 05:56] tyszwh commented on #95
That's works now. Thanks

[2020-04-17 15:32] LeilaSalomon opened #98 "How to chose the level lines in a visualisation ?"
Hello,

I would like to know how to chose level lines on a visualization.  When I use "m" on the visualization, I try "F5" to modify the level lines, but it doens't work...

I hope you could help me,

Best,
Leïla

[2020-04-19 03:13] v-dobrev commented on #98
After pressing F5 in the GLVis window, switch to the terminal where you started `glvis` -- you should see a prompt: `Enter min : ` there. Just enter the min, max, and number of level lines there and then the GLVis window should be updated.

[2020-04-21 09:29] LeilaSalomon commented on #98
Thanks a lot for your reply !
Is it possible to have the mesh and the level lines on the same visualization ?

[2020-04-21 14:13] tzanio commented on #98
No, not in GLVis.

[2020-04-22 10:50] v-dobrev commented on #98
It is not that difficult to edit the source to plot both. For example, for 2D scalar field, edit the lines:
https://github.com/GLVis/glvis/blob/ab82359a9b8adb548369a9514c183703140bd7b2/lib/vssolution.cpp#L2278-L2286

by replacing
[code]
with
[code]

[2020-04-28 07:55] LeilaSalomon commented on #98
Yes ! Thank you so much !!!

[2020-04-29 14:58] #98 closed

[2020-04-29 15:06] tzanio commented on #97
Hi @issabass,

GLVis has limited customization options, if that's what you need you will be probably better off exporting the data to VisIt or ParaView and customizing there, see e.g. the example of such integration in Example 5.

That being said, you can customize the window title, and add a caption see e.g. https://github.com/mfem/mfem/blob/master/miniapps/tools/lor-transfer.cpp#L238-L241.

Ther

[2020-05-09 23:00] #97 closed

[2020-05-09 23:01] tzanio commented on #68
ping: @v-dobrev

[2020-05-14 05:33] rw-anderson opened #99 "Inconsistency between key commands in 2D and 3D"
key i: mesh subdivision in 2D, cutting plane toggle in 3D
key o: no-op in 2D, mesh subdivision in 3D

Proposal: move mesh subdivision function from 'i' to 'o' in 2D, leaving 'i' as no-op in 2D.

[2020-05-18 04:15] termi-official commented on #68
Hi @tzanio @v-dobrev ,
is there general demand for visualizing solutions on 1D meshes embedded in higher dimensions? If so, then I can try to jump on it after #66 hast been merged.

[2020-05-18 04:58] tzanio commented on #68
Yes we will be interested, thanks @termi-official !

Note that we currently support 1D visualization by extruding the results in 2D. But there is no support for 1D meshes embedded in 2D or 3D.

[2020-05-27 16:28] tzanio opened #100 "Add support for Matplotlib's perceptually uniform colormaps"
It may be nice to add the perceptually uniform colormaps `viridis`, `plasma`, `inferno`, `magma`, `cividis` from Matplotlib.

More information here: https://matplotlib.org/tutorials/colors/colormaps.html.

Here is a nice video explaining their design: https://youtu.be/xAoljeRJ3lU.

[2020-05-27 20:52] v-dobrev commented on #100
"Turbo" is another nice palette: https://ai.googleblog.com/2019/08/turbo-improved-rainbow-colormap-for.html. Direct link to the palette definition in C: https://gist.github.com/mikhailov-work/6a308c20e494d9e0ccc29036b28faa7a.

[2020-05-27 21:59] pazner commented on #100
+1 for the Turbo color map.

I have some code that will generate a Turbo colormap for GLVis (also VisIt and ParaView): https://github.com/pazner/turbo_colormaps

Running `python glvis.py` should output C++ code that can be copied-and-pasted into GLVis.

[2020-06-01 23:45] mlstowell opened #101 "Trouble with texture key "!""
When viewing a scalar field the "!" key can cause the mesh and/or field data to go black.  For example open a 2D mesh in GLVis: `glvis -m star.mesh` and type "!".  The image should become a silhouette of the star mesh.  Also, in MFEM's `ex5p`, which displays two windows, the velocity field switches textures as intended but the pressure field goes black.

[2020-06-02 02:04] v-dobrev commented on #101
Is this on mac with xquartz? Is this in `master`?

[2020-06-02 02:07] tzanio commented on #101
I found the issue and will propose a fix shortly...

[2020-06-02 02:08] v-dobrev commented on #101
It must be something new -- I had to pull the latest `master` to see it.

[2020-06-03 22:09] tzanio commented on #101
Should be fixed in #102

[2020-06-15 02:04] tzanio commented on #100
I am working on this

[2020-06-20 05:08] tzanio commented on #100
For the record, here are a few other relevant sites
- [Visualizing Science: How Color Determines What We See](https://eos.org/features/visualizing-science-how-color-determines-what-we-see)
- [CMasher: Scientific colormaps for making accessible, informative and cmashing plots](https://github.com/1313e/CMasher)

[2020-06-22 20:37] #100 closed

[2020-06-26 02:42] homijan opened #104 "Showing log plot of data controlled by value range"
Hi GLVis,

could I get an advice about plotting data in logarithmic scale?
I have difficulties plotting a "steep" solution (keys iii) in log scale (keys L), because I get negative values after refining. My original data is within the range (0, 1.0).
I tried to use valuerange as following
{
  autoscale off
  valuerange 0.00001 1.0
  keys iii
  keys L
}
but the range I am seeing is strange.
Is it co

[2020-06-26 03:00] tzanio commented on #104
Does the following work for you:

- Press `F7` and set the min value to 0.00001
- Press `L`

Tzanio

[2020-06-26 03:59] v-dobrev commented on #104
The values (-5,0) correspond to log_10 of the value range (1-e5,1). Where do you see the values (-5,0)? On the colorbar, or on the bounding box? Also, is this 2D or 3D?

[2020-07-02 20:37] termi-official opened #105 "Visualizing mfem ex15 causes error"
Hi,

running ex15 (and ex15p) with small meshes causes random errors in GLVis. I built both from source from their corresponding master, but it is also present in all mfem branches which I tested.
For example
[code]

gives me in ex15 the error message `Error in send(): Broken pipe` after 42 timeseps.
And in glvis `Stream: end of input.` where the following break was taken
https://github.com/GLVis/

[2020-07-03 04:59] rw-anderson commented on #105
I tried this with the latest master of both glvis and mfem and could not reproduce it.  The run finishes without errors for me.  Same with the fichera mesh.  I'm on an Ubuntu desktop using g++.

[2020-07-05 22:58] termi-official commented on #105
My test system has opensuse + clang8 build from source. The problem present in Debug and Release builds.
I will try to pin this down further (+gcc build) in a few days.

[2020-07-23 06:48] rw-anderson opened #106 "Displays element and vertex numberings, but not dof numberings"
It should probably display dof numberings as well.  Maybe something like this for Q2. :)

![dofs](https://user-images.githubusercontent.com/11507994/88258789-cbc2c280-cc75-11ea-99c0-45d7a0fd4a5f.png)

[2020-07-23 15:53] tzanio commented on #106
I agree this could be useful :).

It could also be nice to be able to display the DOF numbering for the GridFunction that is being visualized.

[2020-07-23 21:06] rw-anderson commented on #106
Yes, I'm grabbing the DOFs from the GridFunction.  Here's an L2 GridFunction.  Still some work to complete this.  I'll push a branch.

![star-L2](https://user-images.githubusercontent.com/11507994/88338709-9954ac00-cced-11ea-8219-80f6c3de5cce.png)

[2020-08-19 04:57] rw-anderson opened #107 "Are the "cutting plane" and "clipping plane" the same thing?"
The 3D docs reference a "cutting plane" and a "clipping plane".  Are these the same thing?  If so, probably one word should be chosen and made consistent.

![help](https://user-images.githubusercontent.com/11507994/90593675-5cb98a80-e19d-11ea-917d-8f9bbf074d15.png)

[2020-08-19 15:28] tzanio commented on #107
Yes they are, and yes we should fix that :)

I personally have a slight preference for "cutting" than "clipping", but both can work.

[2020-08-19 17:28] v-dobrev commented on #107
The term "clipping plane" comes from OpenGL, e.g. the function `glClipPlane(...)`, the flag `GL_CLIP_PLANE0`, etc.

In the context of GLVis though, "cutting plane" makes sense too. I'm fine with either choice, if you want to unify the terminology.

[2020-09-18 02:51] jediyoda36 opened #108 "Segmentation fault when visualizing GMSH mesh file"
Hi,

I just wrote a simple mesh file by using GMSH api, the msh file works fine in MFEM. But when I trying to visualizing it in GLVIS, it occurs a segmentation fault.

![image](https://user-images.githubusercontent.com/13287220/93549532-16259e80-f99c-11ea-893d-a5ef4b708b07.png)

Is there any solution for this problem?
My mesh file is attached.(Github doesn't support the msh file, please change the

[2020-09-20 18:04] tzanio commented on #108
@jandrej, @sshiraiwa or @bslazarov, can you take a look?

[2020-09-20 18:05] tzanio commented on #107
@rw-anderson do you want to propose a simple PR for this?

[2020-09-20 18:07] tzanio commented on #106
ping: @rw-anderson

[2020-09-20 18:09] tzanio commented on #105
This is difficult to reproduce and could be due to a variety of reasons.

[2020-09-20 18:09] #105 closed

[2020-09-20 18:10] #104 closed

[2020-09-20 18:10] tzanio commented on #99
I am OK with this proposal, as well as any other unification that will make things easier for users.

[2020-09-22 20:26] mlstowell commented on #108
Hi, @jediyoda36 ,

Unfortunately, this mesh is not supported by MFEM.  If I'm reading it correctly, the mesh starts with 702 line segment elements followed by thousands of triangles.  By my count 520 of these line segments are not edges of any of the triangles. For example, if you search for node number 584 it occurs in two of the line segments but none of the triangles.

It would seem that this m

[2020-09-27 04:32] jediyoda36 commented on #108
@mlstowell thanks for the reply :)

I'm using gmsh to create a mesh with holes, the gmsh output just like I attached in this issue.  If this mesh doesn't supported by MFEM, do you have any other suggestion about mesh generator?

Currently, my requirements are:
- Input nodes and define lines, surfaces, boundary attributes
- Able to generate triangle meshes
- Able to generate meshes with holes
- Opt

[2020-09-27 05:12] sshiraiwa commented on #108
@jediyoda36, what Mark is indicating is that your mesh is not suitable to define the finite element problem. In MFEM, the entire domain needs to be connected, and the boundary (edges for 2D, faces for 3D) is also connected with the domain. In other words, the line needs to be an edge of triangles.
Looking at your mesh file below, the three group of edges (yellow and blue) are separate elements, no

[2020-09-27 15:57] mlstowell commented on #108
Hi, @jediyoda36 ,

Most of us are not Gmsh experts but if you post a Gmsh script that can generate your geometry we might be able to offer more specific advice.  It sounds like Gmsh and MFEM should be capable of creating and reading a mesh satisfying your requirements and I'd be happy to help if I can.

Best wishes,
Mark

[2020-09-28 01:12] jediyoda36 commented on #108
@mlstowell @sshiraiwa thanks for the reply!

I think I use GMSH in a wrong way, I'll try it again. If there is any other question, I'll post here.

[2020-09-28 06:05] bslazarov commented on #108
Hi Tianchen,

Perhaps the easiest way is to upload a sample of your geo (gmsh) input
file. Then we can help you with the options and how to generate a good mesh
input for MFEM.

On Sun, Sep 27, 2020 at 6:12 PM Tianchen Liu <notifications@github.com>
wrote:

[2020-10-05 11:57] jediyoda36 commented on #108
Hi @bslazarov, thanks for the reply.

Currently my team is using MFEM to simulating circuit parameters. The original input file is not .geo file. I'm using other Python package to read the input then meshing it with GMSH Python api.
I'll upload an example .geo file which has the same shape with the original input in next week.

[2020-10-05 12:42] sshiraiwa commented on #108
If you prefer, we can help you with your python script to use GMSH, too.
This may be simply the matter of shape embedding before meshing.

[2020-10-08 01:43] tzanio commented on #64
As discussed at a recent meeting, it will be nice to add a lite XML parser for reading high-order VTK data, cf. the high-order ParaView output in MFEM.

[2020-10-08 01:45] tzanio commented on #55
@dylan-copeland and @jakubcerveny -- can this be simply addressed by opening the files one at a time?

[2020-10-08 01:48] dylan-copeland commented on #55
@tzanio I don't know for sure, but that seems like a plausible solution worth trying.

[2020-10-08 09:31] jakubcerveny commented on #55
I think it used to work before some changes (mesh+solution in the same file?), so it must be possible...

[2020-10-08 14:59] tzanio commented on #55
Can you try deleting the closing the mesh files by deleting `meshfiles[p]` at the end of this loop: https://github.com/GLVis/glvis/blob/master/glvis.cpp#L1951-L1980 as opposed to the end of `ReadParMeshAndGridFunction`?

[2020-10-08 16:49] jakubcerveny commented on #55
I think that would break loading the solutions later in the function. We could try fusing the two for cycles though...

[2020-10-08 17:28] jakubcerveny commented on #55
Actually, that won't work either because the Mesh object needs to be created before any GridFunctions. I think the only solution is to close each mesh file in the first cycle, noting however the position in the file, in case the solution will need to be read from the same file later. If that is the case, the file can be reopened in the second for cycle and seeked to the stored position.

[2020-10-08 18:48] jakubcerveny commented on #55
I wanted to draft a quick pull request when I realized one can't easily seek in an `ifgzstream` :-(  I'll think more about this...

[2020-10-08 18:54] jakubcerveny commented on #55
On a second look, I think I was wrong in assuming the two cycles cannot be fused. The combined `mesh_p` and `sol_p` can both be created at the end. I'll look into this tomorrow...

[2020-10-09 10:03] jakubcerveny commented on #55
I pushed a fix to `too-many-open-files-fix` but didn't test it too much, does it work for you @dylan-copeland?

[2020-10-09 18:53] dylan-copeland commented on #55
@jakubcerveny Yes, your branch fixes the issue for me! Even on my MacBook (which got its heart-rate up) I was able to visualize a large solution with 1728 files, which fails with the master branch of glvis. Thanks for fixing this!

[2020-10-09 18:54] tzanio commented on #55
Thanks @jakubcerveny !

[2020-10-10 00:43] #55 closed

[2020-10-13 15:55] tzanio opened #111 "Tasks for glvis-4.0 release"
### Must Have
- [x] Merge #66 (@tzanio, @v-dobrev, @kanye-quest)
- [x] Switch to a BSD license #115  (@tzanio, @acfisher)
- [x] Consider other API-breaking changes, e.g. keystroke re-assignment?
- [x] Merge #123
- [x] Update website, https://github.com/GLVis/web/pull/1

### Important
- [x] Make sure EMSCRIPTEN code works (@tomstitt)
- [x] Address #120 (see #121)
- [x] Merge #125
- [x] Merge #126

[2020-10-14 07:05] jediyoda36 commented on #108
@sshiraiwa Thanks for helping! I need to ask my boss if I can upload the python script to github.
For now, the problem is solved (I think). If there is any other similar problem, I'll post the problem here.

@tzanio @bslazarov @mlstowell You guys helped a lot, thanks!

p.s there is another issue about using `navier_3dfoc.cpp`, I'll post it in MFEM repo later.

[2020-10-14 07:05] #108 closed

[2020-10-23 03:50] QiangWei-Wade opened #112 "Black screen with VNC on remote CentOS7, "Window type not found" through X11"
Hi everyone,

I am new to glvis and after compiling on a Xeon V4 CentOS 7 remote server, I ran ./glvis in xshell with default x11 forwarding to xmananger. It would not output any image but rather throws out errors below, after executing ./ex1 -m ../data/square-disc.mesh in a different window.

----------
Waiting for data on port 19916 ...

The requested multisample mode is not available. Multisamp

[2020-10-23 07:10] v-dobrev commented on #112
When running xshell + xmanager, can you run a simple OpenGL program like `glxgears`? If that does not work, I suspect an issue with the X-server or the X11 forwarding.

When running in vncviewer, when you get a black window, can you try pressing the `R` key in the window to refresh it? I've seen this help in similar cases.

[2020-10-24 12:13] QiangWei-Wade commented on #112
glxgears does work. I also use matlab through x11 and it's been working well.
In vncviewer, I pressed "r" and "R" several times and it's still black unfortunately...

[2020-10-24 17:42] tzanio commented on #112
It probably won't make a difference, but another thing to try is resizing the window, that fixes similar issues for me on Mac.

@QiangWei-Wade, are you open to trying the new OpenGL version from https://github.com/GLVis/glvis/pull/66? We are about to merge that anyway...

Tzanio

[2020-10-26 13:12] QiangWei-Wade commented on #112
Hi Tzanio,

Thanks for your reply.

Resizing the window does not work. I tried to compile the new OpenGL version from #66 and it gave me the following errors. Did some quick googling without luck. MFEM was compiled with intel compiler 2016. I tried 2016 and 2020 for Glvis and they gave the same complaints.

Wade

mpiicpc -O3 -std=c++11 -I../mfem-4.1 -I../mfem-4.1/../hypre/src/hypre/include -DGLVIS

[2020-10-26 13:14] tzanio commented on #112
@kanye-quest do you have any suggestions for ☝️

[2020-10-26 16:10] kanye-quest commented on #112
According to https://stackoverflow.com/questions/12530406/#12665408, it seems that regex is only partially implemented with GCC 4.8.5, whose standard library your copy of ICC is using. Full support for C++11 regexes is only available on GCC 4.9.

[2020-11-02 20:47] ilonster opened #113 "Inconsistency in command key for printing pdf files"
The README file say to use `Cntrl+p` in order to print pdf files, but the correct command appears to be`Shift+p` (on Mac OS-X).  The README file also explains that it is possible to print SVG and EPS formats, but does not explain how to change the output format.

[2020-11-02 21:19] tzanio commented on #113
Hi @ilonster, is this with the latest `master` of glvis?

The intention is indeed for the key to be `Ctrl+p` and that's how it works on my Mac.

`Shift+p` should circle back in the color palettes (the opposite of just `p`)...

[2020-11-02 21:24] v-dobrev commented on #113
Yes, I'm not sure why `Ctrl+p` does not work for you on macOS -- here is the code that checks for `Ctrl` modifier when `p` is pressed: https://github.com/GLVis/glvis/blob/4262972f3b190b57c578cd58db07920ab4032578/lib/vsdata.cpp#L813-L818

Regarding SVG and EPS: it looks like @tzanio wrote that comment, maybe he can clarify, but my suspision is that this may be something one can configure the `gl2ps

[2020-11-02 21:43] tzanio commented on #113
I will actually not recommend the `PDF` output or the `SVG` and `EPS` options of `gl2ps` which haven't been tested in a long time.

When I need an image for a talk or a paper, I just take a `PNG` screenshot with `Shift+s`.

[2020-11-03 06:23] jediyoda36 opened #114 "Apply more than one grid function to a mesh"
Hi, I'm currently using `tesla.cpp` mini-app. Is there any way to apply two grid functions (`* h_` and `* j_`) on one mesh (square-angled-pipe) in the same time? We are trying to compare magnetic Field and volumetric current density .

[2020-11-03 15:48] tzanio commented on #114
Sorry, you can't visualize two functions on the same mesh.

One option is to pre-process them in your application, and maybe save the difference and visualize that?

[2020-11-03 16:46] pazner commented on #114
This kind of visualization should also be possible to do by saving both grid functions in a data collection, and using e.g. VisIt or ParaView.

[2020-11-04 01:08] jediyoda36 commented on #114
Thanks! I'll try it out.

[2020-11-04 20:45] pazner commented on #114
I should have mentioned — you can look at MFEM's example 5 for an example of saving two grid functions in one data collection (both VisIt and ParaView formats).

[2020-11-06 01:04] #114 closed

[2020-11-06 01:04] tzanio commented on #113
@ilonster, any additional information about this issue?

[2020-11-07 09:09] nghiakvnvsd opened #116 "How to plot each element of mesh with colormap"
Hi everybody!

I'm researching the topic, topology optimization. I have a question when I try to plot my results. That is how to plot each element of mesh with colormap (like the functions colormap() and imagesc() of Matlab). For examples, I have the mesh 180x60 and I perform the topology optimization problem I receive the array x_Phys(180x60). With matlab, I can do it by the following code:
`colo

[2020-11-07 19:48] v-dobrev commented on #116
You can create a `0`-order discontinuous space `L2_FECollection` and initialize a `GridFunction` on it with your data. In this case the `GridFunction` has one degree of freedom per mesh element. After that you can send it to GLVis as it is done in the MFEM examples, e.g. `ex1`/`ex1p`.

[2020-11-08 20:07] tzanio commented on #112
@QiangWei-Wade were you able to build and try the new version? (Note: this will soon be in `master`)

[2020-11-09 04:39] nghiakvnvsd commented on #116
That is a good idea!! Thank you very much!

[2020-11-09 07:45] nghiakvnvsd commented on #116
Sorry to bother you. I have done it but I do not know how to save my picture as file PDF. I have read the option of GLVIS and I saw the option "ctrl+P" but when I use it, file PDF does not have the figure.

[2020-11-09 08:53] nghiakvnvsd commented on #116
One more thing, I try to use L2_FECollection but it does seem not work in 3D. my code is:
[code]
It works very well when I use with dim = 2 but it returns the wrong output in 3D:

`x_grid.Size = 0`

[2020-11-09 14:43] tzanio commented on #116
Take a screenshot with "Shift + S" instead.

[2020-11-10 06:20] nghiakvnvsd commented on #116
It does not work. I try to with the example 1, it also returns the picture:

![image](https://user-images.githubusercontent.com/68639058/98635391-3d7b6500-2368-11eb-9f5b-3a2ed3fe4833.png)

[2020-11-10 16:48] v-dobrev commented on #116
"Shift+S" should work. Can you provide some details: version of GLVis you are using, operating system, compiler, how you build GLVis, and any other information that you think may help us reproduce this issue.

[2020-11-10 17:03] nghiakvnvsd commented on #116
I use GLVIS-3.4, ubuntu, gcc 7.5.0. I build Glvis by your instruction (https://mfem.org/building/). I try print the mesh of data mesh MFEM but it also does not work:
In folder glvis I run: ./glvis -m ../mfem/data/beam-quad.mesh and then I "Shift+S". It returns the picture, GLVis_s01.png, in the glvis folder but do not show anything on the picture

[2020-11-11 13:24] QiangWei-Wade commented on #112
Sorry for the late reply.

I compiled glvis 3.4 with gcc 9.3 that was readily available, on the same server as was described above. It's now able to present me with a plot although it's black and white only (not colored). Still black screen through vnc.

I also compiled the new version with gcc 9.3. It compiles. However it still got stuck at "creating window" through x11.  complained about GLEW an

[2020-11-11 16:48] kanye-quest commented on #112
What is the output when you run `glxinfo` with VNC or with X11?

[2020-11-12 02:10] QiangWei-Wade commented on #112
glvis-upstream-modern-ogl-dev$glxinfo
name of display: :1
display: :1  screen: 0
direct rendering: No (If you want to find out why, try setting LIBGL_DEBUG=verbose)
server glx vendor string: SGI
server glx version string: 1.4
server glx extensions:
    GLX_ARB_create_context, GLX_ARB_create_context_profile,
    GLX_ARB_fbconfig_float, GLX_ARB_framebuffer_sRGB, GLX_ARB_multisample,
    GLX_EXT_crea

[2020-11-12 02:13] QiangWei-Wade commented on #112
With x11:

（My desktop is intel i7-7700 with integrated graphics only. Not sure where the Nvidia comes from in the output...)
glvis-upstream-modern-ogl-dev$glxinfo
name of display: localhost:16.0
display: localhost:16  screen: 0
direct rendering: No (If you want to find out why, try setting LIBGL_DEBUG=verbose)
server glx vendor string: SGI
server glx version string: 1.2
server glx extensions:

[2020-11-12 07:28] kanye-quest commented on #112
So it looks as if your VNC setup actually might not support OpenGL, given that the OpenGL vendor and version string fields are all blank. What happens when you run `glxgears` within VNC?

Regarding your X11 forwarded setup, Windows seems to be giving a "GDI Generic" as the vendor string, which normally indicates that OpenGL drivers aren't installed. However, this could also be something caused by

[2020-11-12 14:54] QiangWei-Wade commented on #112
Absolutely spot on suspecting individual x server implemntation. The above info/errors happened with xshell+xmanager 6 (black&white with glvis 3.4+gcc9, stuck at creating window without specific errors). I tried xshell 6+xming latest and glvis 3.4+gcc9 was able to print out colored contours, although the dev version of glvis with new opengl inplementation still refuses to create a window. Error me

[2020-11-12 14:57] QiangWei-Wade commented on #112
xshell6+xming:

glvis-upstream-modern-ogl-dev$glxinfo
name of display: localhost:10.0
display: localhost:10  screen: 0
direct rendering: No (If you want to find out why, try setting LIBGL_DEBUG=verbose)
server glx vendor string: SGI
server glx version string: 1.2
server glx extensions:
    GLX_ARB_multisample, GLX_EXT_import_context, GLX_EXT_visual_info,
    GLX_EXT_visual_rating, GLX_OML_swap_met

[2020-11-12 15:01] QiangWei-Wade commented on #112
glxgears shows a black window through VNC so there does seem to be something wrong with it OpenGL support.

Here's the vncserver
Xvnc TigerVNC 1.8.0 - built Apr 11 2018 06:06:57
Copyright (C) 1999-2017 TigerVNC Team and many others (see README.txt)
See http://www.tigervnc.org for information on TigerVNC.
Underlying X server release 11903000, The X.Org Foundation

And VNC Viewer 5.20.529 (5/29/2020

[2020-11-12 22:31] v-dobrev commented on #116
I was able to reproduce the issue but I'll need more time to figure out what is going wrong.

In the mean time, you can use the "Screenshot" app on Ubuntu to capture the GLVis window contents.

[2020-11-19 20:58] pazner commented on #64
A preliminary version of this feature is now available in a branch (see mfem/mfem#1894). For those interested, could you see if this works as intended?

[2020-11-20 20:10] tzanio commented on #113
We are not able to reproduce this, so I will close it now. If it is still an issue, please feel free to reopen/provide additional details.

[2020-11-20 20:10] #113 closed

[2020-11-20 20:12] tzanio commented on #112
@kanye-quest, can you follow-up on this?

[2020-11-22 04:03] kanye-quest commented on #112
Hi @QiangWei-Wade , I pushed some changes which should allow the modern OpenGL branch to start up on the Xming X server. However, text rendering doesn't work yet for some reason; there might be something we're relying on that's broken with only OpenGL 1.2 available.

I'd recommend trying out VcXsrv; I tried it out with a WSL setup and it seems to run glvis properly. It seems to be actively maintai

[2020-11-24 14:37] QiangWei-Wade opened #117 "How to display boundary attributes?"
Hi everyone,

Is there a key I can press to display or color boundary attributes when using glvis -m xxx.mesh to display a 3D mesh?

Thanks,
Wade

[2020-11-24 20:14] v-dobrev commented on #117
You can press F9/F10 to cycle forward/backward through the boundary attributes. F8 will let you toggle a list of boundary attributes you type in the terminal.

To view the boundary attributes by color you can use the `mesh-explorer` miniapp from `miniapps/meshing`, choosing option `'b'` from its menu.

[2020-11-25 03:17] jediyoda36 opened #118 "Problem with XQuartz when running Tesla mini-app"
Hi,

I'm currently using Tesla mini-app. When I'm running `mpirun -np 4 ./tesla -m square-angled-pipe.mesh -kbcs '3' -vbcs '1 2' -vbcv '-0.5 0.5'` on a Ubuntu machine through ssh connection, it works fine, several Glvis windows showed and stayed on my screen.

However, when I'm running same command on my mac (through ssh connection as well), the Glvis windows (or to say XQuartz windows? ) just pop

[2020-11-26 05:25] miaodi opened #119 "undefined reference to `gluPerspective'"
Hi,
I am compiling glvis in Ubuntu 20.04. I got the following error message:

/usr/bin/ld: lib/libglvis.a(aux_vis.cpp.o): in function `MyReshape(int, int)':
aux_vis.cpp:(.text+0x2a2e): undefined reference to `gluPerspective'
collect2: error: ld returned 1 exit status
make[2]: *** [CMakeFiles/glvis-exe.dir/build.make:90: glvis] Error 1
make[1]: *** [CMakeFiles/Makefile2:96: CMakeFiles/glvis-exe.dir

[2020-11-27 07:04] dsellers94 commented on #53
Hi I see that this issue has been closed but I am having this exact same problem. I installed Xquarts through the website, not homebrew. Is it worth trying to reinstall? Can anyone offer any further advice?

I am using mfem-4.2 and glvis-3.4 on MacOS 10.15.4.

[2020-11-27 20:02] dsellers94 commented on #53
This Problem Appears to be solved by reinstalling XQuarts.

[2020-11-28 14:14] QiangWei-Wade commented on #117
@v-dobrev

Got it. Thank you!

[2020-11-28 14:14] #117 closed

[2020-12-01 00:08] v-dobrev commented on #118
This sounds like an issue between the remote x-client (running on the remote Mac) and the local x-server. Did you get any error messages in the terminal where you ran GLVis?

To avoid such incompatibilities between x-client and x-server, you can try this: build and run GLVis locally and then when you ssh to a remove machine to run the miniapp there, use port forwarding to forward the GLVis port (t

[2020-12-01 02:04] jediyoda36 commented on #118
@v-dobrev thanks for the reply!

I tried to run glvis locally, but it didn't fix this problem.

There is no error message.

![image](https://user-images.githubusercontent.com/13287220/100687510-6917cb00-33bb-11eb-829d-025683a08ab9.png)

When I was running other mini-apps or examples, there is no such problem. I think the main reason is Tesla mini-app output multiple graphs at one time.

[2020-12-01 02:37] tzanio commented on #118
What happens if you run `ex5` -- do you see two windows ("Velocity" and "Pressure")?

[2020-12-01 02:58] jediyoda36 commented on #118
@tzanio yes, there are two windows.

[2020-12-01 02:58] jediyoda36 commented on #118
@tzanio And I also run the ex5p, it works fine.

[2020-12-01 03:17] tzanio commented on #118
I wonder if it is something in `VisualizeField` in `miniapps/common`... this is supposed to be a more robust way to open multiple GLVis windows than the simple one used in Example 5, 10, etc.

Can you try `miniapps/tools/display-basis.cpp` -- does this open multiple GLVis windows for you?

[2020-12-01 03:29] v-dobrev commented on #119
It looks like you are missing one of the dependencies: GLU. Try installing the package `libglu1-mesa-dev`, see https://packages.ubuntu.com/focal/libglu1-mesa-dev.

[2020-12-01 05:15] jediyoda36 commented on #118
@tzanio Yes it does.
![image](https://user-images.githubusercontent.com/13287220/100699938-367bcb80-33d7-11eb-96e5-0cfe8f1737aa.png)

[2020-12-01 05:22] jediyoda36 commented on #118
@tzanio I tried again to run Tesla mini-app, this time there is only one window remain.
![image](https://user-images.githubusercontent.com/13287220/100700371-3c25e100-33d8-11eb-9d97-3c11ceea2a55.png)

[2020-12-01 08:43] v-dobrev commented on #118
Can you try building GLVis in debug mode: if you are using `make` just add `GLVIS_DEBUG=YES` to the build command line; if using `cmake`, add `-DCMAKE_BUILD_TYPE=Debug`. This should make GLVis print some additional messages. Can you post the output from the failing Tesla run? The output from the different windows will be mixed up but it still may give us some clue.

Also, just to make sure: are yo

[2020-12-03 07:53] jediyoda36 commented on #118
@v-dobrev There are some errors when I built glvis in debug mode
![image](https://user-images.githubusercontent.com/13287220/100980065-a5942400-357f-11eb-9ce1-a166f73531e5.png)

[2020-12-03 08:50] jediyoda36 commented on #118
@tzanio @v-dobrev
I reinstalled mfem and glvis in latest version (master branch on github), problem solved.
Thanks for helping!

[2020-12-03 08:50] #118 closed

[2020-12-04 03:12] tzanio commented on #64
Discussion continued in https://github.com/mfem/mfem/pull/975

[2020-12-04 03:12] #64 closed

[2020-12-04 18:36] v-dobrev opened #120 "Building issue with MFEM built with MPI support on Linux"
This issue with X11 and MPI was reported here: https://github.com/GLVis/glvis/pull/66#issuecomment-738282716 and unfortunately was not fully resolved by 8fe6bdd. We still have `sdl.cpp` includes `threads.hpp` which includes `mfem.hpp` which includes `mpi.h` (when MFEM is built with MPI). On the other hand `sdl.cpp` also includes `sdl_x11.hpp` --> `X11/extensions/XInput2.h` --> `X11/Xlib.h`.

cc: @

[2020-12-04 19:18] kanye-quest commented on #120
Related: https://gitlab.freedesktop.org/xorg/lib/libx11/-/issues/15

IMO, I think we should just `#undef Status` after including the X11 headers - it's just being used as an alias for int.

[2020-12-04 19:36] v-dobrev commented on #120
@kanye-quest, sounds fine to me. Do you want to make a branch to fix this?

[2020-12-05 01:39] #120 closed

[2020-12-06 22:26] tzanio commented on #119
@miaodi, were you able to resolve this?

[2020-12-06 22:27] tzanio commented on #116
@v-dobrev can you confirm that this is likely an issue with the graphics driver?

[2020-12-07 18:46] tzanio commented on #107
Addressed in https://github.com/GLVis/glvis/pull/123/commits/49bc42c7e12b1859bc7f14acb1207c1472671df0 as part of the `v4.0-dev` branch

[2020-12-07 18:46] #107 closed

[2020-12-07 18:58] kanye-quest commented on #119
Closing as glvis no longer depends on GLU. If you encounter any other issues with building and/or dependencies, feel free to make a new issue.

[2020-12-07 18:58] #119 closed

[2020-12-07 19:03] kanye-quest commented on #112
Closing as resolved; if you still have issues with starting up glvis feel free to make a new issue.

[2020-12-07 19:03] #112 closed

[2020-12-08 20:37] tzanio opened #124 "Add CI testing with GitHub Actions"
We should add smoke test for

- building on Linux, Mac
- code styling
- ...

[2020-12-08 21:54] v-dobrev commented on #116
The issue with taking screenshots (on Fedora) was due to the display driver: the open-source nvidia driver (https://nouveau.freedesktop.org/) had this issue; with the nvidia proprietary driver, the screenshots work just fine.

For ubuntu, I was able to reproduce the issue in a virtual machine where I can not test this solution (I can not change the driver) but I suspect the display driver is the i

[2020-12-09 05:21] rw-anderson commented on #99
Addressed in #126

[2020-12-09 18:40] #99 closed

[2020-12-09 19:37] #116 closed

[2020-12-11 01:12] benzwick opened #128 "How to close all GLVis windows?"
Is there a recommended way to close all windows associated with a GLVis server process? I am routinely opening many plots to visualize tensor components but every time I re-run my simulation I have to manually close all these windows. Currently I just `killall glvis`. Is there a better way to do this? Even better, how difficult would it be to add a keyboard shortcut (Q say) that closes all windows

[2020-12-11 12:54] QiangWei-Wade commented on #128
I am wondering the same.

[2020-12-11 12:59] QiangWei-Wade opened #129 "How to get a section view of 3d results?"
Is there a feature available to get a section view of the domain, e.g. to see what's in there if I cut this beam in half? See illustrated below. I imagine this may not be that difficult given that Glvis can decompose results given by different mpi threads, hopefully?

![section-view](https://user-images.githubusercontent.com/32881293/101906243-9ce0c500-3bf3-11eb-86e0-d4f9c2a169e3.png)

[2020-12-11 17:08] tzanio commented on #129
Yes, see the `i` key and the related cutting plane documentation: https://github.com/GLVis/glvis/blob/master/README#L233-L240

[2020-12-11 17:08] tzanio commented on #129
Converting from issue to discussion...

[2020-12-11 17:08] #129 closed

[2020-12-11 17:09] tzanio commented on #128
Converting from issue to discussion...

[2020-12-17 17:35] QiangWei-Wade opened #132 "Unable to visualize prism.msh"
Hello everyone,

I was trying to visualize a simple prism mesh extruded from trialgle 2D mesh by an [extrusion script](https://git.immc.ucl.ac.be/slim/demo-extrude) that uses gmsh. There's some discussion [here](https://gitlab.onelab.info/gmsh/gmsh/-/issues/1091#note_11868).

[square.msh.txt](https://github.com/GLVis/glvis/files/5711105/square.msh.txt)
[square_3d.msh.txt](https://github.com/GLVis/

[2021-01-04 06:24] bslazarov commented on #132
Hi Wade,

Could you please, use ParaView for visualization of prism elements until we investigate the issue. ParaView can visualize the prism elements without any problems. The only disadvantage is that the output has to be saved to a file before the visualization.
Examples 5 and 9 demonstrate how to dump out the output into ParaView format.

Best regards, Boyan

[2021-01-06 00:01] camierjs opened #144 "bdr_el_attr_to_show segfault"
In [VisualizationSceneSolution::PrepareBoundary](https://github.com/GLVis/glvis/blob/230df6bf929016f63d4ca135b1ac08ea1fa2a97d/lib/vssolution.cpp#L2146), I'm hitting the case where `GetNBE > 0`, `shading == 2`,  the mesh has `GetBdrAttribute` but the `bdr_el_attr_to_show` size is set to `0`.

I may be doing something wrong, but shouldn't we try to avoid to segfault on this?

[2021-01-06 01:26] tzanio commented on #144
That should generally be OK (not showing any of the boundary).

Can you post what the error is? Is the size of `bdr_el_attr_to_show` correct (should be `mesh->bdr_attributes.Max()`)?

[2021-01-06 01:33] camierjs commented on #144
`bdr_el_attr_to_show` size is `0`  from https://github.com/GLVis/glvis/blob/230df6bf929016f63d4ca135b1ac08ea1fa2a97d/lib/vssolution.cpp#L471 and `mesh->GetBdrAttribute(i)` gives us back a `1`.

[2021-01-06 01:33] jediyoda36 commented on #108
Hi Mr. Shiraiwa @sshiraiwa ,
I have a follow up question about dealing with CAD data.

I created a brep file by using PythonOCC.
![image](https://user-images.githubusercontent.com/13287220/103718327-76028c80-5001-11eb-8f43-4a94bd77db01.png)

In this case, I need to add 4 different boundary attributes in this brep file.
![image](https://user-images.githubusercontent.com/13287220/103718363-89adf300-

[2021-01-06 20:27] tzanio commented on #144
It sounds like the mesh may be in inconsistent state where the boundary attributes (`Mesh::bdr_attributes`) are empty, but there are boundary elements (`Mesh::boundary`).

How was this mesh constructed, in particular was `Mesh::SetAttributes()` called?

What does `mesh->GetNBE()` return?

[2021-01-07 16:42] bslazarov commented on #108
Hi,

We do not work directly with CAD data. MFEM reads only mesh files. The easiest way to add boundary attributes/mark the faces is to open the CAD file in gmsh and use the graphical interface to see the face numbers. Once you know their numbers you can define physical surfaces - these will be exported in the output mesh with the assigned marks.

[2021-01-08 00:17] camierjs commented on #144
The starting mesh is `data/periodic-square.mesh` and elements get refined randomly, some might be on the boundary.
We start with no attributes, no boundary elements. Some of them must be added in the process.

[2021-01-08 00:26] bslazarov commented on #132
Hi Wade,

I just tried all of the supplied mesh files with mfem-4.2 and glvis. All of them work fine. Perhaps the problem is that you do not specify/mark all boundaries in square_3d.msh.txt. Glvis will show only the marked boundaries. If you want to visualize the elements press 'e' and then glvis will show the elements. The cuts though the mesh work fine as well.

If you have older version of mfem

[2021-01-09 21:33] tzanio commented on #144
I see.

It certainly wouldn't hurt to add a check in the beginning of `VisualizationSceneSolution::PrepareBoundary()`:

[code]

If you want, propose a PR for it (I can do it too).

That being said, `periodic-square.mesh` describes a closed domain without boundary and so `mesh->GetNBE()` should always return zero. In general refinement should create boundary elements only by refining existing bound

[2021-01-13 02:01] jediyoda36 commented on #108
@bslazarov thanks for the reply!

That's what we are doing now.  But for some reason, we want to use Python to handle our CAD data,  just like Mr. Shiraiwa @sshiraiwa mentioned above.

By the way, what GMSH version are you using? Does MFEM support GMSH 4 format now?

[2021-01-13 03:00] bslazarov commented on #108
MFEM support only version 2.x for GMSH input.

On Tue, Jan 12, 2021 at 6:01 PM Tianchen Liu <notifications@github.com>
wrote:

[2021-01-30 11:55] jhoy97 opened #148 "Error reports when running meshes using MFEM example 2 with GLVis"
I am working on a cantilever beam problem in both 2D & 3D, and after modelling and meshing the problem on Gmsh, these error reports show:
MFEM abort: Non-positive element attribute in Gmsh mesh!
... in function: void mfem::Mesh::ReadGmshMesh(std::istream&)
... in file: mesh/mesh_readers.cpp:1172
Abort (core dumped)

MFEM abort: Gmsh file : vertex index doesn't exist
 ... in function: void mfem::Me

[2021-01-30 20:09] tzanio commented on #148
The Gmsh boundary attributes should be positive, in particular they can't be zero.

[2021-01-31 00:12] camierjs commented on #144
Starting with a periodic and adding AMR refinements leads to this issue.

[2021-02-06 21:31] #132 closed

[2021-02-06 21:32] tzanio commented on #144
@jakubcerveny do you envision any issues with NC refinement of periodic meshes (see above)?

[2021-02-06 21:33] #148 closed

[2021-02-07 14:55] jakubcerveny commented on #144
I don't think there should be any issue with periodic NC meshes. In that case the NCMesh is topology only and doesn't care about the Nodes, it should "just work", with no boundary elements. I think I've seen ex9 work nicely with random refinements. Of course there could be some bug, so if you can reproduce e.g. a case where boundary elements are created out of nowhere, I can help debug that.

[2021-02-07 21:32] tzanio commented on #144
thanks Jakub

[2021-02-08 22:11] sshiraiwa opened #150 "Can we overlay multiple solutions and meshes?"
I am wondering if one can generate a figure like this one https://mfem.org/img/gallery/nstxu_hhfw.png, which is made from two solutions and one mesh file,  inside GLVis :-D?

[2021-02-08 22:27] tzanio commented on #150
The short answer is: "currently NO" :(

The long answer is that GLVis does support all the required tools -- computing grid function in a cutting plane, showing part of the mesh, etc. but it does not have a user interface to define and combine them, e.g. only one cutting plane is defined and can be manipulated.

It is always tricky where to draw the line between a fast/simple tool like GLVis and a

[2021-02-08 22:27] tzanio commented on #150
That being said, you can *totally* visualize separate parts in separate windows

[2021-02-08 22:30] tzanio commented on #150
I wouldn't recommend it to everyone, but it also possible to hack GLVis for a particular plot. That's how this image was generated: https://glvis.org/img/gallery/tp-3d-ale-black.png

[2021-02-08 22:33] psocratis commented on #150
@sshiraiwa , if you just need just visualization of 2 or more meshes/solution on the same window you can play the "parallel" trick. Something like this would do it

[code]

Thanks,

Socratis

[2021-02-10 14:22] sshiraiwa commented on #150
Hi all, Thank you for your suggestions and clarification.

[2021-02-10 14:22] #150 closed

[2021-02-15 01:00] tzanio commented on #144
@camierjs, how should we proceed with this?

[2021-02-15 17:10] camierjs commented on #144
You must be right @jakubcerveny, I can't reproduce it with my current state of `Laghos`, `Remhos` and the `mfem` amr examples.

[2021-02-15 17:10] #144 closed

[2021-02-17 16:54] S-Villar opened #154 "Issues when installing GLVIS"
Dear all,

I cannot understand the error GLVIS building is returning me. Can you help me?

Thank you a lot in advance!

Alvaro

[code]

[2021-02-17 16:58] tzanio commented on #154
Hi @S-Villar,

Did you install all the [dependencies](https://glvis.org/building/)?

Note that on Mac you need SDL2 version 2.0.12, see this [discussion](https://github.com/GLVis/glvis/discussions/141#discussioncomment-269943).

Tzanio

[2021-02-17 17:02] lmdiazangulo opened #155 "Unable to build in windows (using vcpkg)"
Hi,

I am having problems building in windows using vcpkg libraries. I don't know if that is the recommended procedure and would appreciate if somebody could point me to a better one if it is not.

Following this procedure, most of my problems seem to be related with pthreads.

I found a first issue with CMakeLists.txt not being able to detect that pthreads was found. I could fix that with:
[code]

[2021-02-17 19:15] S-Villar commented on #154
Hi Tzanio,

Apparently one of the dependencies (**libfreetype-dev**) was not downloaded correctly with the command specified in the building:
`sudo apt-get install libfontconfig1-dev libfreetype-dev libsdl2-dev libglew-dev libglm-dev libpng-dev`
Instead, it turns out that this library is found using **libfreetype6-dev** so that:
`sudo apt-get install libfontconfig1-dev libfreetype6-dev libsdl2-dev

[2021-02-17 19:15] #154 closed

[2021-02-18 01:23] v-dobrev commented on #155
I'm not familiar with vcpkg. Is it using the visual studio compiler? I'm not sure it provides pthreads support which is needed by GLVis.

Typically, people using GLVis under windows use WSL, I think.

[2021-02-18 02:05] kennyweiss commented on #155
@lmdiazangulo  -- in case this is helpful, the Axom project (https://github.com/LLNL/axom) also depends on mfem.

We've developed a `vcpkg` port for `mfem@4.0` for our Windows build, see: https://github.com/LLNL/axom/tree/develop/scripts/uberenv/vcpkg_ports/mfem

I don't recall dealing with pthreads or `unistd`, but for other windows/unix capabilities, we depend on `direct.h`, so that might be a g

[2021-02-18 08:31] lmdiazangulo commented on #155
VCPKG is basically a cross-platform c/c++ package manager. I find it quite usefull, especially for these kind of projects which depend on so many external libraries. I could use it yesterday (partially) successfully with MFEM. I have used it only for one week or so (so no expert here), but I think I really like it, both for windows and linux.

I did not know about WSL, thanks for pointing me there

[2021-02-18 08:39] lmdiazangulo commented on #155
I have  tried a little bit more, with pasting your code, and some unistd.h ports that I have found ([this one](https://stackoverflow.com/questions/341817/is-there-a-replacement-for-unistd-h-for-windows-visual-c#:~:text=Try%20including%20the%20io.,h%20.)),

That tweak seemed to fix some issues but now the problematic part is fcntl. I don't know about that function but I did a little bit of research

[2021-02-18 10:30] lmdiazangulo commented on #155
I have tried using WSL2 and worked well.  Thanks for that suggestion.

[2021-02-18 19:54] cwsmith opened #157 "error building glvis against mfem with cuda enabled"
On a RHEL7 workstation using cuda 10.2 and gcc 7.4 I built mfem master@b077091 with cuda enabled via cmake then attempted to build glvis master@9ea76c7 against it.  That resulted in the following compilation error:

[code]

The mfem cmake command is:

[code]

and the glvis cmake command is (the dependencies paths are listed in `CMAKE_PREFIX_PATH`):

[code]

Please let me know if additional environ

[2021-02-19 02:44] v-dobrev commented on #157
Since we are using the host compiler to build GLVis, we probably need to add the CUDA include dir and explicitly link with the CUDA libraries we use. Another option could be to try to build everything with `nvcc`, similar to the way we build mfem examples and miniapps.

[2021-02-20 22:08] tzanio commented on #157
This may be not be convenient from a workflow perspective, but it is probably best to have a separate "plain" version of MFEM without CUDA or MPI enabled and use that just to build GLVis.

There is really no benefit from these currently in GLVis, and they may in fact complicate matters.

[2021-02-20 23:38] cwsmith commented on #157
Thanks @v-dobrev and @tzanio.  Can GLVis built with a 'plain' MFEM be used to render output (meshes and fields) from a CUDA enabled MFEM build?

[2021-02-20 23:55] tzanio commented on #157
Yes

[2021-02-20 23:56] tzanio commented on #157
See also https://glvis.org/live/

[2021-02-21 00:31] cwsmith commented on #157
Great.  Thank you.

The vis site is pretty slick.  We'll try that.

I'm all set; feel free to close this issue.

[2021-02-21 00:32] #157 closed

[2021-02-21 00:33] tzanio commented on #157
We have not announced it officially yet, but you can see some more info about the web version here: https://github.com/GLVis/glvis-js/tree/master/live.

Let us know at https://github.com/GLVis/glvis-js if you find any issues with it.

[2021-02-21 00:58] sshiraiwa commented on #157
This is very very COOL 😎

[2021-03-04 17:04] tzanio commented on #155
I am closing this, but it may be good to add support for vcpkg in both MFEM and GLVis in the future...

[2021-03-04 17:04] #155 closed

[2021-03-12 23:32] tomstitt opened #162 "std::unique_ptr::reset causes runtime error"
https://github.com/GLVis/glvis/pull/153 changed the `stream_state` to use a `std::unique_ptr`s for, among other things, the `GridFunction` `grid_f`. In the web target the `std::unique_ptr::reset` in https://github.com/GLVis/glvis/blob/master/lib/aux_js.cpp#L193 causes a runtime error that prevents the loading of example 3:

[code]

Removing the `reset` and passing the pointer to the `Visualization

[2021-03-13 21:23] tzanio commented on #124
It will be great if we test the actual usage, e.g. compare screenshots of pre-defined datasets as a form of regression testing.

[2021-03-13 21:24] tzanio commented on #124
We should also test the glvis-js and pyglvis repos

[2021-03-15 01:33] kanye-quest commented on #162
The bug seems to be a problem in the glvis core itself rather than a js-related issue; I pushed out a PR that should fix the issue.

[2021-03-16 23:01] #162 closed

[2021-05-14 09:48] CODER591 opened #172 "How to display .msh(Gmsh) file?"
Hello,
I am a total newbie in meshing topics
I have created a simple mesh using `gmsh`. Saved as ASCII version 4.
It is a simple meshed square (5x5)
![Screenshot from 2021-05-14 12-51-22](https://user-images.githubusercontent.com/33939665/118253887-22beb000-b4b3-11eb-95d4-44393b10af23.png)
I have built `glvis`  binary  and tried to use:
`glvis -m filename.msh`

But it failed with the following err

[2021-05-14 22:22] CODER591 commented on #172
As per https://github.com/mfem/mfem/issues/2216
MFEM (glvis) supports only the GMSH (Version ASCII 2)

[2021-05-14 22:27] #172 closed

[2021-05-14 22:44] v-dobrev commented on #172
It looks like we need a version check with better error message. 😄

[2021-05-15 07:39] CODER591 commented on #172
Sorry for the offtop, but small proposition:
1. Specify at the https://mfem.org/meshing/ page that that mesh format would be detected automatically on input
2. Specify [here](https://mfem.org/mesh-formats/) or [here](https://mfem.org/meshing/) about software that could generate meshes in MFEM format? (if it exist)
Thanks!

[2021-05-16 20:19] tzanio commented on #172
Sorry for the confusion @CODER591, we've been meaning to add support for Gmsh 4 for a while now, but other things have been higher priority: https://github.com/mfem/mfem/issues/678.

Are you willing to help us improve the documentation by implementing your suggestions above?

If so, feel free to open PR in https://github.com/mfem/web. The website sources are simple Markdown files, e.g. https://git

[2021-05-17 15:06] CODER591 commented on #172
I will take a look at the implementing suggestions, thanks for the answers!

[2021-05-31 22:23] tzanio commented on #106
@rw-anderson, do you want to add this as part of the upcoming `glvis-4.1` or should we postpone it to the next release?

[2021-05-31 22:26] tzanio opened #173 "Update GLVis Spack package"
We should update the Spack package for GLVis to support version 4.0+

[2021-05-31 22:27] #111 closed

[2021-06-07 02:50] tzanio commented on #173
@tomstitt, are you still interested in working on this?

[2021-06-07 19:20] likangan opened #175 "Cannot visualize mfem running result with glvis"
Hi,

I am running glvis and mfem on my mac. mfem example code can run to the end, but glvis doesn't show the result and gives an error info as
objc[76538]: +[NSApplication initialize] may have been in progress in another thread when fork() was called.
objc[76538]: +[NSApplication initialize] may have been in progress in another thread when fork() was called. We cannot safely call it or ignore it i

[2021-06-07 20:46] tzanio commented on #175
This is due to https://github.com/GLVis/glvis/discussions/141.

Sorry, we are working on fixing that, but that requires significant restructuring. Note that this affects only macOS Catalina and later, there are no issues on Linux.

In the meantime, can you try downgrading SDL2 as described here: https://github.com/GLVis/glvis/discussions/141#discussioncomment-667221.

Tzanio

[2021-06-07 21:16] likangan commented on #175
Thank you, I set SDL2 library manually, following step by step, but still got the same issue.

[2021-06-07 21:18] tzanio commented on #175
You did rebuild `glvis`?

[2021-06-07 21:29] likangan commented on #175
Yes, I rebuilt it.

[2021-06-07 21:43] tzanio commented on #175
Hmm... I'm not sure what's different for you.

What is the output of the following commands in the top `glvis` directory:

- `make info`
- `grep SDL_MAJOR_VERSION ../SDL2/include/SDL2/*`
- `grep SDL_MINOR_VERSION ../SDL2/include/SDL2/*`
- `grep SDL_PATCHLEVEL ../SDL2/include/SDL2/*`
- `make distclean; make`

[2021-06-07 21:50] likangan commented on #175
make info

MFEM_DIR    = ../mfem
GLVIS_FLAGS =  -O3 -std=c++11 -I../mfem -I../mfem/../hypre/src/hypre/include -I../mfem/../metis-5.0/include  -DGLVIS_MULTISAMPLE=4 -DGLVIS_MS_LINEWIDTH=1.0 -DGLVIS_OGL3 -I/opt/X11/include/freetype2 -I/usr/local/include -I/usr/local/include -I/Users/Documents/summer/glm  -DGLVIS_USE_LIBPNG
GLVIS_LIBS  = $(MFEM_LIBS) $(GL_LIBS) $(PNG_LIBS) $(PTHREAD_LIB)
GLVIS_LIBS

[2021-06-07 22:28] likangan commented on #175
Thank you, we solved it. Just need to uninstall all the versions of SDL, and try your specific version again.

[2021-06-07 23:16] tzanio commented on #175
Awesome, I glad you were able to resolve it!

[2021-06-07 23:16] #175 closed

[2021-07-06 16:17] tzanio commented on #124
I think we can close this after #176 is merged. Do you agree @adrienbernede?

[2021-07-06 18:12] adrienbernede commented on #124
I agree! Awesome leap forward!

[2021-07-07 22:44] tomstitt commented on #173
I still have more testing to do but I have started this [here](https://github.com/tomstitt/spack/tree/glvis-4) and have tested on os x

[2021-07-13 00:19] ilonster opened #178 "Difficulty connecting mfem to glvis on latest MacOS Catalina"
I recently obtained a new mac running Catalina 10.15.7.  I can compile glvis with no errors reported and I can start the glvis daemon without errors reported. After running a program in the terminal on the new MacOS, a window pops up that asks the user "whether to allow incoming network connections. I assume at this point that the correct answer is "yes".

However, when I run an mfem program that

[2021-07-13 00:51] tzanio commented on #178
Hi @ilonster,

Was this with the current master of both MFEM and GLVis?

Does it work in non-server mode, e.g. `glvis -m ../mfem/data/escher.mesh`?

Tzanio

[2021-07-15 17:17] ilonster commented on #178
@tzanio Tzanio,

That doesn't seem to work either. I get the error:

Generating coloring starting with element 3 / 42
Number of colors: 3
terminate called after throwing an instance of 'std::logic_error'
  what():  basic_string::_M_construct null not valid
Abort trap: 6

[2021-07-15 17:35] tzanio commented on #178
Was this ☝️ with the latest master of both MFEM and GLVis?

[2021-07-15 18:30] ilonster commented on #178
It occurs with the fusion-ldrd-dev branch of mfem

[2021-07-18 23:47] tzanio commented on #178
I can't reproduce this, but I am on macOS Big Sur.

@cjvogl, do you think you can help? Maybe it is a question of just pulling `master` into `fusion-ldrd-dev` and rebuilding everything from scratch?

[2021-07-19 16:07] cjvogl commented on #178
@tzanio, will do.  FWIW, the fusion-ldrd-dev branch is basically a mirror of the MFEM master at this point (with some code added to get the SUNDIALS interface to work correctly); however, we use glvis v3.4 by default... so we'll try updating the glvis version and rebuilding (unless you already tried that @ilonster?)

[2021-07-19 16:23] tzanio commented on #178
thank you

oh, glvis-3.4 will likely have issues in server mode on Catalina, see https://github.com/GLVis/glvis/discussions/141

[2021-07-20 18:59] ilonster commented on #178
I just tried to replace glvis v3.4 with v4.0. Unfortunately, now I get a compilation error that begins with:

Library/Developer/CommandLineTools/SDKs/MacOSX10.15.sdk/System/Library/Frameworks/CoreData.framework/Headers/NSPersistentHistoryTransaction.h:29:20: error: unknown property attribute before ',' token
   29 | @property (nullable,readonly,copy) NSArray<NSPersistentHistoryChange *>*changes;

[2021-07-27 19:54] tzanio commented on #178
Do you mind trying the current glvis master?

[2021-07-29 04:26] tomstitt commented on #173
merged: https://github.com/spack/spack/pull/25045

[2021-07-29 04:26] #173 closed

[2021-07-29 15:09] tzanio commented on #173
thanks @tomstitt 🙏

[2021-07-30 20:49] v-dobrev opened #182 "The web version at `glvis.org/live` does not detect hi-DPI display"
As a result, fonts are smaller than intended as in the desktop version.

[2021-08-03 03:18] tomstitt commented on #182
Looking at the console it appears that while the web version does detect High-DPI displays it doesn't scale the font:

[code]

I will look into why the dpr isn't being used to set the font size

[2021-08-03 04:30] kanye-quest commented on #182
On my Windows machine with a high-ish DPI display (1.25x scaling), I have the opposite problem: fonts are getting scaled excessively large compared to the desktop version.

[2021-08-03 17:29] tomstitt commented on #182
With `glvis.org/live` I see the small font (but it does resize if I resize the window):
<img width="720" alt="Screen Shot 2021-08-03 at 10 25 16 AM" src="https://user-images.githubusercontent.com/7017223/128059508-a0fecc7c-40b2-4709-963e-7b013eb74220.png">

If I build the latest mfem+glvis locally the font is big by default:
<img width="720" alt="Screen Shot 2021-08-03 at 10 25 20 AM" src="https:/

[2021-08-06 19:31] v-dobrev commented on #182
@tomstitt, I assume updating to the latest GLVis version means updating the file https://github.com/GLVis/web/blob/master/src/live/src/glvis.js? What is the procedure to generate the new `glvis.js`? Is it just following the instructions here: https://github.com/GLVis/glvis-js#building-glvisjs?

[2021-08-06 20:09] tomstitt commented on #182
Thanks for the reminder @v-dobrev ! I just made a PR to update. I also updated the build instructions, there were a few steps I missed

[2021-08-06 21:12] v-dobrev commented on #182
After merging https://github.com/GLVis/glvis-js/pull/9, we still need to copy the new `glvis.js` to the GLVis/web repo, right?

[2021-08-06 21:47] tzanio commented on #182
Thanks @tomstitt, I approved and merged the glvis-js update.

@v-dobrev, yes the two updated JS files (`glvis.js` and `versions.js`) go here: https://github.com/GLVis/web/tree/master/src/live/src.

[2021-08-08 23:25] tzanio commented on #182
I did the above ☝️, and [glvis.org/live](glvis.org/live) is now broken :(

@tomstitt, am I missing something?

[2021-08-09 00:18] tomstitt commented on #182
I'm seeing that too... Can you try to clone https://github.com/GLVis/glvis-js and `make serve`? I just tried and that works for me at least. I'm not sure what would be different for glvis.org/live

[2021-08-09 00:21] tzanio commented on #182
That works for me

[2021-08-09 00:27] tzanio commented on #182
It could be my MkDocs, @v-dobrev, can you try deploying the website?

[2021-08-09 17:06] v-dobrev commented on #182
I tried `mkdocs serve` locally with GLVis/web and http://127.0.0.1:8000/live/ does not load.

Does that work for you @tomstitt?

[2021-08-09 18:33] tomstitt commented on #182
@v-dobrev good check! No, that doesn't work for me either. I just tired an older version of the emsdk but that didn't help.. I'm not sure what in glvis could cause this (since it works with `make serve`) but I will try some older glvis versions with `mkdocs serve`

[2021-08-09 18:34] ilonster commented on #178
Again, the master branch of glvis does not compile. The first error message appears to be related to the Objective C sdl_mac.mm file:

/Users/joseph5/Projects/mhd-mfem/glvis/lib/sdl_mac.mm:37:4: error: stray '@' in program
   37 |    @autoreleasepool

[2021-08-09 18:49] kanye-quest commented on #178
Hi @ilonster, it seems like there may be an issue with your compiler. Are you using gcc on mac? It may be worth switching to Apple clang (e.g. `CXX = clang++` in your mfem config)

[2021-08-09 20:37] tomstitt commented on #182
It looks like it was something in https://github.com/GLVis/glvis/pull/174. I'll look into it more later.

https://github.com/GLVis/glvis/pull/171 works and I just pushed an updated build to https://github.com/glvis/glvis-js, do you want to try/redeploy @tzanio ?

[2021-08-09 21:31] ilonster commented on #178
@kanye-quest Some progress! Changing from gcc to clang works for glvis but now breaks our mfem code.

Let me note that glvis does not appear to be able to compile with homebrew's version of gcc-9 or gcc-11 for Catalina. Similar errors appear in the form:

/Users/joseph5/Projects/mhd-mfem/glvis/lib/sdl_mac.mm:37:4: error: stray '@' in program
37 | @autoreleasepool

[2021-08-09 21:48] v-dobrev commented on #182
The new version of `glvis.js` (https://github.com/GLVis/glvis-js/commit/c9e16e6a6528d4a6f7b56a1ebc815be284835a8b) seems to work with GLVis/web. With this version the font is small, however after resizing the window, the font gets updated to be larger -- probably some step is missing from the initialization.

[2021-08-10 00:34] tzanio commented on #182
I re-deployed the latest and can confirm the same behaviour that @v-dobrev reported above ☝️

[2021-08-10 16:58] kanye-quest commented on #182
I was able to build a copy of `glvis.js` from master with the CMake build system, and it seems to work on a local copy of glvis-js on both the basic example and the live site. Maybe a compile flag that's missing from the makefile?

[2021-08-11 01:05] tzanio commented on #124
Discussion continued in #176

[2021-08-11 01:05] #124 closed

[2021-08-12 00:48] tzanio commented on #182
Redeployed with JS library based on glvis/master after the #185 merge.

This fixed the hang, but the font issue is outstanding (small font in the beginning, that updates to correct size on resizing the browser window)

[2021-08-12 01:16] kanye-quest commented on #182
Playing around with a debug glvis-js build, it looks like the pre-resize call to `SDL_GL_GetDrawableSize()` is returning a value that is incorrectly scaled again with the device pixel ratio. Whatever happens on the resize seems to adjust the internal SDL window dimensions so that `GetDrawableSize()` returns the correct value.

For example, with `dpr=2.0`, and an emulated screen size of 800x600, yo

[2021-08-14 00:49] rw-anderson opened #187 "build issue"
In trying to build the master branch of glvis against the master branch of mfem, I run into a linking issue:

../mfem/libmfem.a(geom.o): In function `mfem::Memory<mfem::RefinedGeometry*>::GetMemoryType() const':
../mfem/fem/../general/mem_manager.hpp:1066: undefined reference to `mfem::MemoryManager::GetDeviceMemoryType_(void*)'

When I examine the archive that function exists but with a slightly

[2021-08-14 00:54] rw-anderson commented on #187
Never mind, I can reproduce this within mfem itself, so I will move the issue there.

[2021-08-14 00:54] #187 closed

[2021-08-27 23:28] tzanio opened #198 "Post-release tasks for glvis-4.1"
**Post-Release Tasks**

- [x] Update website https://github.com/GLVis/web/issues/8
- [ ] Release a signed version of the Mac app?
- [ ] Post Mac and Windows binaries on website?

**Postponed**
- [ ] Merge #170
- [ ] Resolve https://github.com/GLVis/pyglvis/issues/7
- [ ] See also https://github.com/GLVis/glvis/discussions/133

[2021-09-07 18:21] YohannDudouit opened #199 "Extremely slow GLVis on `ex9`"
I recently updated my GLVis to the latest version, when "running" (after pushing "space") the time between each frame seems extremely long compared to what experienced before on MFEM `ex9` (no special option).

[2021-09-07 19:04] tzanio commented on #199
This was reproduced on macOS `10.14.6` and `10.15.7`

[2021-09-07 19:22] YohannDudouit commented on #199
After rebuilding MFEM in release mode, and rebuilding GLVis from scratch, ant then rebuilding MFEM in debug mode, the performance are much improved, though it still seems a bit slow.
Should I close this issue?

[2021-09-07 19:42] pazner commented on #199
I think it's still a regression — I don't remember ex9 being quite so slow with previous versions, even in debug mode.

[2021-09-09 16:55] kanye-quest commented on #199
This actually seems to be coming from the MFEM side. Here's the profiler view with glvis `master` but mfem 4.2:

![image](https://user-images.githubusercontent.com/21321692/132727682-d3f57d92-8ea3-4887-a67e-b119a48d2adf.png)

And here's with both glvis and mfem on `master`:

![image](https://user-images.githubusercontent.com/21321692/132727862-3d036819-78c0-4682-8964-d235efe56f7f.png)

`GetRefined

[2021-09-09 18:10] rw-anderson commented on #199
![diff](https://user-images.githubusercontent.com/11507994/132739538-31dd9e51-5432-4445-a487-4d47987ada93.png)

It looks like there was a problem introduced into GetValues. The new implementation seems to be a double nested loop over the number of integration points.

[2021-09-09 18:22] pazner commented on #199
Good find @rw-anderson! I can make a PR to fix the regression in MFEM, or you can do it if you prefer.

[2021-09-09 18:25] rw-anderson commented on #199
I have a fix running through the test suite, so I guess I can follow through and make the PR. Thanks!

[2021-09-09 18:47] rw-anderson commented on #199
I suppose someone should check to make sure this change actually resolves this particular issue, although it seems likely.

https://github.com/mfem/mfem/pull/2522

[2021-09-09 18:55] tomstitt commented on #199
I just tried https://github.com/mfem/mfem/pull/2522 with the web build and ex9 is fast again

[2021-09-09 23:17] tzanio commented on #199
@YohannDudouit, can you confirm mfem/mfem#2522 works for you?

[2021-09-11 22:52] tzanio commented on #199
Since mfem/mfem#2522 is merged in `mfem:master` now I will assume that this issue is resolved.

@YohannDudouit and @pazner -- please let me know if that's not the case and we will reopen it.

[2021-09-11 22:52] #199 closed

[2021-09-11 23:02] tzanio commented on #198
These have now been incorporated in https://github.com/GLVis/glvis/discussions/133

[2021-09-11 23:03] #198 closed

[2021-09-13 01:14] pazner commented on #199
It's working much better for me now, thanks!

[2021-10-03 22:44] ChaoW95 opened #203 "Cannot compile glvis 4.1 on windows"
I opened` glvis 4.1` as a project in Clion.
The compiler is Mingw 8.1.
When I tried to build the executable, I following errors showed.

====================[ Build | glvis-exe | Release ]=============================
"C:\Program Files\JetBrains\CLion 2021.2.2\bin\cmake\win\bin\cmake.exe" --build C:\Users\chaow\OneDrive\Desktop\FEM\glvis-4.1\cmake-build-release --target glvis-exe -- -j 1
Scanning

[2021-10-05 09:20] carlos-brito-pacheco opened #204 "How to display boundary attributes?"
Currently it is possible to plot the boundary single colored. However, for visualization purposes my application needs to plot the different types of boundaries on the mesh. So for example, I would like that the boundary has a unique color for each attribute. Is this currently possible?

[2021-10-06 00:21] v-dobrev commented on #203
According to the error messages posted above, the errors happen at the point where GLVis just includes standard C++ headers like here: https://github.com/GLVis/glvis/blob/92595f9c5ee58e729bc2368d452039eb80eeee56/lib/threads.hpp#L18 and here: https://github.com/GLVis/glvis/blob/92595f9c5ee58e729bc2368d452039eb80eeee56/lib/aux_vis.cpp#L12

So, these look like issues with the compiler, not GLVis.

[2021-10-06 04:29] ChaoW95 commented on #203
Hi, v-dobrev. Thanks for your reply.
This compiler error was solved by using Msys2 with pacman to install the package.

[2021-10-12 18:55] #203 closed

[2021-11-06 20:48] tzanio commented on #204
Discussion continued in #206

[2021-11-06 20:48] #204 closed

[2021-11-18 13:28] SamaHans opened #209 "Can't find mfem"
I have set `MFEM_DIR` as `C/mfem`, where `mfem` is installed. However, error occurs as
![image](https://user-images.githubusercontent.com/12651419/142423947-e19148fb-bd43-4e7c-a698-31dbccb8f55f.png)
![image](https://user-images.githubusercontent.com/12651419/142424028-d3a28e33-23f6-4cf6-9146-e412c1ef62d7.png)

[2021-11-18 14:41] SamaHans commented on #209
Well, `mfem` is found. But SDL2 library is not found.
![image](https://user-images.githubusercontent.com/12651419/142436516-e6e736f4-85cf-45a8-9434-73de762195da.png)

[2021-11-18 15:25] SamaHans commented on #209
Okay, I have installed the missing package via `pacman` and accomplished compiling. But when trying to run it, error comes as
`libwinpthread-1.dll` `libstdc++-6.dll` `libgcc_s_seh-1.dll` `libfontconfig-1.dll` missing.

[2021-11-18 18:12] jandrej commented on #209
I assume you are using Windows from the `.dll` shared library suffix. Please make sure your mingw setup provides the appropriate shared libraries.

[2021-11-18 18:29] v-dobrev commented on #209
You can also try these steps (using `vcpkg`): https://github.com/GLVis/glvis/blob/92595f9c5ee58e729bc2368d452039eb80eeee56/INSTALL#L152-L172

[2021-11-19 23:59] SamaHans commented on #209
Oh my bad. I need to tap in commands.

[2021-11-20 01:09] v-dobrev commented on #209
Without command line options, GLVis starts in server mode and accepts TCP connections from other (MFEM based, typically) applications such as `ex1` and `ex1p` from MFEM.

For some of the basics, see https://glvis.org/options-and-use and https://mfem.org/serial-tutorial.

[2021-11-21 00:47] paters06 opened #210 "Error in building GLVis in Fedora 35 (`SdlMainThread::setWindowIcon(SDL_Window*)')"
Good night GLVis team. I'm trying to install MFEM and GLVis in my laptop. When building GLVis, I find the following error:

[code]
The error states that there is an undefined reference to `logo_rgba_len'. I have installed all the required dependencies so I don't know what to do.

Thank you very much for your attention.

PS: This is my first time submitting an issue so I apologize if I made some mi

[2021-11-22 01:00] v-dobrev commented on #210
Hi @paters06,

It looks like the auto-generated file `share/logo.rgba.bin.cpp` was not properly generated. I suspect that the file is empty (its size is 0) and the reason is that the `xxd` command (that is used to generate this file from `share/logo.rgba`) is missing -- probably not installed on you machine for some reason.

It looks like `xxd` is part of the package `vim-common` on Fedora 35 (acc

[2021-11-27 00:42] paters06 commented on #210
Good night. Sorry for the delay. I had to work on windows during this week.

I have tried the installation of `vim-common` and the error is still there. What other suggestions do you have?

Thanks for your attention and response

[2021-11-27 02:01] v-dobrev commented on #210
Can you check if the file `share/logo.rgba.bin.cpp` is empty or not? If it is empty, remove it and run `make` again.

[2021-11-27 16:23] paters06 commented on #210
`logo.rgba.bin.cpp` was empty. I followed your suggestion and it worked. Thank you very much

[2021-11-27 16:23] #210 closed

[2021-11-30 12:13] kinnala opened #211 "How to load a local file in `https://glvis.org/live/`?"
I have the following file and I'm trying to load it at `https://glvis.org/live/` using the button `Load local file`:
[code]
In Google Chrome developer console I see
[code]
and nothing happens in the visualization area. How can I load local files and what are the supported formats?

Edit: Is this the wrong repository? Should it be in `GLVis/glvis-js`?

[2021-11-30 12:15] kinnala commented on #211
Closing because I found the correct repository at `GLVis/glvis-js`. Sorry about the inconvenience.

[2021-11-30 12:15] #211 closed

[2021-11-30 15:22] tzanio commented on #211
No worries, please let us know if you have any questions in the future.

[2021-11-30 17:36] tzanio commented on #211
See also https://github.com/GLVis/glvis/discussions/207#discussioncomment-1602589

[2021-11-30 18:19] kinnala commented on #211
Thanks. I'm looking into outputting this format from another tool because you have a great support for high order meshes. I'll let you know if it works out.

[2021-12-06 03:16] #209 closed

[2021-12-14 13:42] kinnala commented on #211
Just to give here a status update, I was able to use `glvis-js` through `pyglvis` to visualize some linear scalar solutions, and also vectorial solutions: https://github.com/kinnala/scikit-fem/pull/827

Obviously to use it for visualizing high-order fields I would need to do a mapping between the DOF numbering scheme used in my code and the scheme used in MFEM. For example, I read somewhere in the

[2021-12-14 15:48] tzanio commented on #211
You may also want to check FMS, https://github.com/CEED/FMS.

[2022-01-27 18:03] MohanElapolu opened #218 "WSL__empty_window"
Installed Glvis on WSL. When I try to run an example using below command it is showing an empty window.
`./glvis -m ../mfem-4.3/data/escher.mesh`

Installed all the dependencies using below command
`sudo apt-get install libfontconfig1-dev libfreetype-dev libsdl2-dev libglew-dev libglm-dev libpng-dev`

Also installed VcXsrv X server as suggested in https://github.com/GLVis/glvis/blob/master/INSTALL

[2022-01-28 16:56] MohanElapolu commented on #218
Further details: I have windows 11, and the WSL2 is having Ubuntu-20.04. I checked the mesh details are good. It seems like it is missing some dependencies. I will keep working on this, but in the meantime any directions to resolve this is really helpful. Thank you for all the assistance.

[2022-01-28 17:09] tzanio commented on #218
Hi @MohanElapolu,

I recently installed GLVis on a Windows 11 system with WSL2 and Ubuntu without any issues. I'll try to take a look this weekend and respond. If anyone else (@kanye-quest, @acfisher) has any advice, please speak up!

Tzanio

[2022-01-28 17:13] v-dobrev commented on #218
Are you using the latest release v4.1, the latest `master` branch, or some older commit/version?

If you are not using the latest `master` branch, can you try that?

In the past, I've had a similar issue (which just happened randomly, not always) where the window will not show anything initially. However, when I force it to update the contents (by pressing a key like `r` that forces a re-draw, or

[2022-01-28 17:23] MohanElapolu commented on #218
Thank you for the quick response. I am using the latest version4.1 posted on https://glvis.org. I tried to update the content by pressing `r`/resizing window which unfortunately didn't work.

[2022-01-28 20:12] v-dobrev commented on #218
One thing that might help us, is to build GLVis in debug mode:
[code]
and then post here the output you get in the terminal when you run GLVis to view a mesh (as you mentioned above). That may give us some clues.

[2022-01-28 20:30] MohanElapolu commented on #218
I built the GLVis in debug mode and ran the below command to test it.
`./glvis -m ../mfem-4.3/data/escher.mesh`

Here is the screenshot of the output on the terminal
![image](https://user-images.githubusercontent.com/58925039/151617048-a6eef512-fdbd-4633-93e8-f9f87254c7e2.png)

[2022-01-28 20:33] tzanio commented on #218
Can you try `./glvis -oldgl -m ../mfem-4.3/data/escher.mesh`

[2022-01-28 21:19] MohanElapolu commented on #218
Yes, please find below screenshot of output.
![image](https://user-images.githubusercontent.com/58925039/151622838-bf8cb129-3357-4f95-b5ce-15213b415887.png)

[2022-01-29 10:02] v-dobrev commented on #218
One potential issue: I'm not sure we've tested GLVis with the SDL2 version you are using, v2.0.10. I think the oldest version we tested is 2.0.12. If you want to try a newer SDL2 version, here are some basic instructions how to build it from source: https://github.com/GLVis/glvis/blob/e7c5dd4ed4e67b838a5ba9a6048dbeebdb49d611/INSTALL#L243-L257

[2022-01-29 16:15] MohanElapolu commented on #218
I installed SDL2 using commands as suggested above. I still have the blank screen window. Here is the screenshot of the output (Note: in the previous outputs we have shader missing, in this it is not there. I installed `libglfw3-dev` `libgles2-mesa-dev` as suggested in https://askubuntu.com/questions/244133/how-do-i-get-egl-and-opengles-libraries-for-ubuntu-running-on-virtualbox hoping that it wil

[2022-01-29 17:45] v-dobrev commented on #218
Did you install SDL2 in `../SDL2` relative to the GLVis source directory? If not, you should add `SDL_DIR=<path to the SDL2 dir>` to your `make` command line, where `<path to the SDL2 dir>` should be the directory where SDL2 was installed -- `SDL.h` is expected to be in this location: `<path to the SDL2 dir>/include/SDL2/SDL.h`.

[2022-01-29 17:51] MohanElapolu commented on #218
Yes, installed SDL2 in GLVis source directory. I followed the instructions as suggested in your above comment. I am checking the SDL2 directory there is no SDL.h file. Please see the below screenshot
![image](https://user-images.githubusercontent.com/58925039/151671767-aadd3f55-4992-485f-af84-2a3f7fe99578.png)

[2022-01-29 18:09] v-dobrev commented on #218
Okay, with this directory layout, use the following command from the `glvis-4.1` directory:
[code]
To check if `SDL.h` is in the right place, you can use (again, from the `glvis-4.1` directory):
[code]

[2022-01-29 18:27] MohanElapolu commented on #218
Yes, that fixed the installation. Now, GLVis is using SDL-2.0.12, but still getting the blank window. Please check the below screenshot of the output in the terminal.
![image](https://user-images.githubusercontent.com/58925039/151672806-a30a21b9-0bb0-47e2-9020-d5305c752e4c.png)

[2022-01-31 02:05] tzanio commented on #218
Unfortunately I can't reproduce this, but I may very well be missing something -- I rarely use Windows and I am new to WSL.

My system is Win11 with WSL+Ubuntu and the following packages:

[code]

I **do not** have the  VcXsrv X server  installed.

`mfem-4.3` and `glvis-4.1` are built as follows:

[code]

With that `./glvis -m ../mfem-4.3/data/escher.mesh` works fine and the output is:

[code]

[2022-01-31 06:15] v-dobrev commented on #218
I also tried building GLVis (v4.1 and `master`) on Windows 10 with WSL2 and Ubuntu (20.04 LTS) using VcXsrv X server. I do see sometimes an issue with the GLVis window content becoming just a black rectangle, however, pressing `r` or `F2` fixes the issue. I see this issue when I drag the window from the title bar to move it; I also see this when resizing the window but not all the time.

One diffe

[2022-01-31 07:14] kanye-quest commented on #218
Sorry, I just saw this thread. @MohanElapolu: can you install and run the `glxinfo` tool (`mesa-utils` package on Ubuntu), and post its output? The OpenGL context version being reported by the glvis output is 3.1 Mesa 21.0.3, which is odd - that seems to indicate that your setup is falling back to software rendering with Mesa.

When you start VcXsrv, is the "Native opengl" option checked in the se

[2022-01-31 14:31] tzanio commented on #218
Thanks for helping @kanye-quest!

@v-dobrev, I'll have to look more carefully in my installation. It was relatively recent, but I don't recall explicitly following the instructions you linked to.

[2022-01-31 14:48] MohanElapolu commented on #218
Thank you @tzanio @kanye-quest @v-dobrev for your support. It seems like the installation of VcXsrv is not very straightforward. I am figuring out if the issue is with this installation. @kanye-quest yes "Native opengl" is checked and below is the different snapshots of the output of the `$glxinfo`
![image](https://user-images.githubusercontent.com/58925039/151814371-b0af0776-3cbc-4378-b5c2-799262

[2022-01-31 18:11] kanye-quest commented on #218
Ah, based on that output it seems like Mesa is using the new built-in 3D accelerated X server for WSL that @v-dobrev mentioned. Since it's using direct rendering, VcXsrv will have nothing to display - the rendering is done through Direct3D 12.

I think there are two potential paths you could try:
- Uninstall VcXsrv and try to run with the built-in X server - this might be preferable since Windows

[2022-01-31 19:15] MohanElapolu commented on #218
thank you @kanye-quest, I followed your first path and the directions as given in (https://github.com/microsoft/wslg/issues/334.) I uninstalled the VcXsrv and used the following command. I am not sure this is best way but its working, will use it...:) Please post if we can do in a better way.
`$GALLIUM_DRIVER==llvmpipe ./glvis -m ../mfem-4.3/data/escher.mesh`
Here is the terminal output
![image](h

[2022-02-02 16:09] rw-anderson opened #219 "variable order spaces"
A gridfunction on a p-refined space does not visualize properly - it appears the enriched elements show up as their original order. How difficult would it be to visualize a variable order space?

[2022-02-02 16:44] dylan-copeland commented on #219
There is some code to deal with this, not in the main MFEM or glvis library, see `ProlongToMaxOrder` for example in `miniapps/gslib/findpts.cpp`:
https://github.com/mfem/mfem/blob/a96065ed1802ee95e7a33ee749b2ae4a6e4a6de6/miniapps/gslib/findpts.cpp#L46

[2022-02-02 16:46] tzanio commented on #219
Can we add this ☝️ to mfem proper and call it automatically in glvis when needed?

[2022-02-02 16:50] dylan-copeland commented on #219
We thought about it in the recent PR https://github.com/mfem/mfem/pull/2766 which added this code. This "experimental" function is for L2 or H1 spaces. It would need to be generalized for arbitrary spaces, so we would need to think about whether that can be done in general. If there are spaces (e.g. ND, RT) that do not work, we may need to check the type with `MFEM_VERIFY` to prevent misuse.

[2022-02-02 18:25] rw-anderson commented on #219
Projecting to max order seems like a workaround, but expensive if the space is highly locally enriched. Would rendering each element in its native order be too difficult?

[2022-02-02 18:40] v-dobrev commented on #219
The first issue is that `FiniteElementSpace::Save` (which is used to send data to GLVis) does not support variable orders yet -- it is probably not too hard to add this. This also needs to be supported in `FiniteElementSpace::Load`.

With these two methods implemented properly we can try GLVis and see if there are any issues there.

[2022-02-05 19:20] #218 closed

[2022-02-24 23:30] termi-official opened #220 "Optional build dependencies incomplete"
Turns out the build scripts make use if `xxd` if we want to have the logo in the built program. See https://github.com/GLVis/glvis/blob/master/makefile#L278-L280 . Technically xxd is a tool from vim, which just happens to be shipped with Fedora and Ubuntu by default. Not sure if this belongs here or on the web repo. Might be an issue for novice users, as this can be easily be missed, yielding a li

[2022-03-04 01:17] v-dobrev commented on #220
I think I've seen this issue before: https://github.com/GLVis/glvis/issues/210.

We can add a check in the `makefile` with something like this:
[code]
I'm not sure what happens with CMake -- maybe it stops with an error if does not find `xxd`?

[2022-03-04 01:42] termi-official commented on #220
Indeed, this is the same issue.

I would also have opted for checking if xxd is installed by using "command", but with `?=` instead of direct assignment.

"Fixing" the cmake build should be as easy as
[code]

[2022-03-09 15:13] termi-official commented on #220
Should I make a PR?

[2022-03-09 18:02] v-dobrev commented on #220
A PR will be welcome! Thanks!

[2022-03-20 21:03] tzanio commented on #220
Discussion continued in @222

[2022-03-20 21:03] #220 closed

[2022-03-20 21:21] HennesHajduk opened #223 "Visualize actual domain boundary of parallel meshes"
Hi,
the following issue has been a minor problem for me, so far I've worked around it, but I figured I might as well ask:
The `b` key allows us to visualize the boundary of a domain but in parallel runs it shows the interfaces between MPI-partitioned domains.
I can see the benefit of this possibility but is there a way in visualizing the actual domain boundary? `Print/SaveAsOne` did not seem to do

[2022-03-29 06:22] supriome opened #224 "Can't build on M1 Apple Silicon version!"
When build on macOS m1 with command `make MFEM_DIR=../mfem-4.4 -j `, there some problem.

[code]

Seems that clang++ version not support.

[2022-03-29 07:46] 3rav opened #225 "glvis and mingw(msys2)"
I try to make glvis mingw64 packages but I have this error:

[code]

I add to PKGBUILD this flag:
[code]

MFEM packge in mingw64 have this files (see: https://packages.msys2.org/package/mingw-w64-x86_64-mfem?repo=mingw64):
[code]

[2022-03-31 15:42] Srihari-mcw opened #226 "glvis support for windows"
For mfem in windows we want to visualise with glvis. For glvis we tried to install and build it in windows. But we werent able to get clear steps on installing and building glvis in windows. Could you please check for the windows support and help us in this regard. Thanks

[2022-04-10 00:51] tzanio commented on #224
Hi @supriome,

Unfortunately I don't have access to an M1 mac to try to reproduce this, but looking at the error this doesn't seem to be an issue inside GLVis.

I know other folks have gotten MFEM to work on M1 macs, see https://github.com/mfem/mfem/pull/2273.

Does your MFEM build works, e.g. does "make test" work there?

[2022-04-10 00:52] tzanio commented on #224
ping: @matthiasdiener and @samuelpmishLLNL, in case you can help.

[2022-04-10 00:55] tzanio commented on #225
@wo80, can you help with this?

[2022-04-10 00:57] tzanio commented on #226
Hi @Srihari-mcw, did you see this portion of the `INSTALL` file?

https://github.com/GLVis/glvis/blob/master/INSTALL#L140-L172

[2022-04-10 01:18] tzanio commented on #223
Hi @HennesHajduk,

Sorry for the delayed response.

This can actually be disabled by setting `print_shared` to `false` in the beginning of `ParMesh::Print`:

https://github.com/mfem/mfem/blob/master/mesh/pmesh.cpp#L4686

This is not exposed to the user currently, but we can expose it e.g. as an optional parameter of `ParMesh::Print`. Will that work for you, or do you have a different preference?

[2022-04-10 10:08] wo80 commented on #225
Since I compiled MFEM by myself, I cannot tell if there's something wrong with the MSYS2 package installation. Compiling GLVis here works flawlessly.

@3rav Have you made sure that the MFEM files are actually present after package installation? Have you made sure to cleanup old traces of manual installation before trying the package install?
[code]

[2022-04-10 13:13] wo80 commented on #225
The problem seems to be line 92 in `MFEMConfig.cmake`:
[code]
This gets generated during the MFEM cmake build and when building manually, this gets set the to a single, absolute path. If you add a debug notice to the foreach loop in `MFEMConfig.cmake`
[code]
and run
[code]
you'll find that the path for `${_IMPORT_PREFIX}/include` is invalid and obviously the `set_and_check` macro will fail. Removi

[2022-04-10 19:46] matthiasdiener commented on #224
This build script for mfem works for Mac M1: https://github.com/conda-forge/mfem-feedstock/blob/main/recipe/build.sh

Have you run `make config`? It looks like it is trying to compile for x86_64 (see e.g. the warning for `__builtin_ia32_paddd`)

[2022-04-11 04:21] tzanio commented on #225
Thanks for your help @wo80 !

[2022-04-11 06:50] 3rav commented on #225
After modifying the `MFEMConfig.cmake` file, I have this response:

[code]

[2022-04-11 08:20] wo80 commented on #225
@3rav That's exactly what I get. So, what does it tell us? You could re-read my previous post carefully, but I'll try to explain again: it tells us, that in the first loop `MFEM_INCLUDE_DIR` gets set to `C:/msys64/mingw64/include`, which depends on your MSYS2 installation, but should be correct. In the second loop it checks for `/include`, which doesn't exist - and so the whole process breaks down

[2022-04-11 09:04] HennesHajduk commented on #223
Hi @tzanio,

Thanks for the response, there was no rush!

That's exactly what I needed, awesome! I think this could be useful to some people, would you like me to set up a PR?

[2022-04-11 09:11] wo80 commented on #225
@tzanio @3rav This might be a problem, that can/should be fixed in the MFEM `CMakeLists.txt`. You should read up on CMake `_IMPORT_PREFIX` - for example https://stackoverflow.com/a/56189945. Quote: _There can be troubles getting this to work._

I currently don't have the time to investigate further.

[2022-04-11 14:51] tzanio commented on #223
PR will be appreciated, thanks @HennesHajduk 😄

[2022-04-11 22:49] tzanio commented on #223
Discussion continued in https://github.com/mfem/mfem/pull/2961

[2022-04-11 22:49] #223 closed

[2022-04-12 18:15] tzanio commented on #225
See also

https://github.com/mfem/mfem/issues/2913
https://github.com/msys2/MINGW-packages/pull/11082

[2022-04-12 18:20] tzanio commented on #225
@kanye-quest, can you help with this?

[2022-04-20 18:21] kanye-quest commented on #226
Hi @Srihari-mcw, would you be able to see if this prebuilt executable works for your use case?

https://github.com/GLVis/glvis/suites/6194418518/artifacts/218275001

[2022-04-21 13:24] Srihari-mcw commented on #226
Thanks for the responses. I will try executing this and get back to you asap

[2022-05-12 11:30] Srihari-mcw commented on #226
Hi. The prebuilt executable helped a great deal in the visualisation of mfem mesh outputs. Thanks

[2022-05-12 11:30] #226 closed

[2022-05-24 17:44] tzanio commented on #225
We now provide a pre-built Windows binary, see https://glvis.org, https://glvis.org/download or https://github.com/GLVis/glvis/blob/master/README.md

[2022-07-25 02:12] congunter commented on #224
I got the same error message, where MFEM would compile but glvis would not. Tried all of the solutions posted. The MFEM build was confirmed to be compiled for arm64. It seems to be a linking issue with clang via apple command line tools. The line where compilation fails on my M1 Mac is:

g++ -O3 -std=c++11 -I../mfem-4.4 -DGLVIS_MULTISAMPLE=4 -DGLVIS_MS_LINEWIDTH=1.0 -DGLVIS_OGL3 -DGLVIS_USE_LOGO -

[2022-07-25 07:42] salomole opened #233 "Movies"
Hello,

I would like to make a movie by taking several snapshot, but I don't know which command to write in the code for that ?

Best wishes,

[2022-07-25 15:07] tzanio commented on #233
Hi @salomole,

If it is a spinning movie, you can press <kbd>S</kbd> while the visualization is rotating (<kbd>Shift</kbd> + <kbd>Left Mouse</kbd>) which will generate a sequence of screenshots: `GLVis_m00*.png`.

For more general movies, you can use a GLVis script. See [this section](https://glvis.org/options-and-use/#glvis-scripts) for a simple example.

Hope this helps,
Tzanio

[2022-07-25 15:09] tzanio commented on #224
Thank you @congunter

[2022-07-26 15:49] sshiraiwa opened #234 "CMake tries to install GLVis, although it build glvis"
I am trying to build GLvis. and seeing a strange error. I am using a linux box (Rocky8.6) and cnmake

I did call cmake, first
$ cmake .. -DCMAKE_VERBOSE_MAKEFILE=1 -DCMAKE_INSTALL_PREFIX=${TwoPiRoot} -DMFEM_DIR=${TwoPiRoot}/src/mfem/cmbuild_ser -DCMAKE_BUILD_TYPE="Release"

Then, "make  -j" works fine, and it create glvis.
$ make -j

However, "make install" spits out the following error. It seems

[2022-07-26 19:17] TobiasDuswald commented on #224
Hi all,

I'm running `MFEM` and `GLVis` on my M1 for a year and I never had any issues. I've tried different commits of both software packages and it always worked fine. Both, `MFEM` and `GLVis` are in my home folder, e.g. `~/mfem` and `~/glvis`.  I compile both packages with cmake, e.g.
[code]
and
[code]
Note that `GLVis` requires a few external dependencies that can be installed via `brew`. The

[2022-07-26 23:44] v-dobrev commented on #234
It looks like we have some CMake commands related to building a MacOS app that are not properly guarded/skipped on other platforms: https://github.com/GLVis/glvis/blob/0b8d5547e027f8ff26d38415206541f1ecfb870b/CMakeLists.txt#L319-L339

Maybe you can just comment out this part: https://github.com/GLVis/glvis/blob/0b8d5547e027f8ff26d38415206541f1ecfb870b/CMakeLists.txt#L333-L339

We'll probably need

[2022-08-15 17:42] salomole commented on #233
Hello ! Thank you for your answer, but I would like to know the screenshot command to insert in my code (using MFEM). Do you know it ? At each time step, I would like a screenshot (in a 2D plane) of a Gridfunction.

[2022-08-15 20:54] tzanio opened #236 "Significant increase in memory usage"
Something happened between `glvis-4.0` and `glvis-4.1 `that more than doubled the memory usage

If I do `glvis -m mesh.000000 -g examples/sol.000000` (these are the saved files from `mpirun -np 1 ex1p -m ../data/square-disc-p2.mesh`), then I get the following memory usage:

- glvis-3.4 🠚 0.21 GB
- glvis-4.0 🠚 0.87 GB
- glvis-4.1 🠚 2.24 GB
- glvis-4.2 🠚 2.79 GB
- glvis-now 🠚 2.80 GB

Measured on my

[2022-08-24 16:43] yurivict commented on #234
Same here on FreeBSD.
The 4.2 release is broken.

[2022-08-24 19:59] v-dobrev commented on #234
Can you please try #239? It worked for me on my Linux desktop.

[2022-08-24 20:18] yurivict commented on #234
I worked around the issue on FreeBSD by installing the executable manually. Thanks!

[2022-08-26 07:35] kanye-quest commented on #236
#237 should take care of some of the low-hanging fruit.

Beyond that, I did some profiling of the mesh in question on a Linux system with massif. First, it seems that on Linux roughly 413MB is in use, instead of almost a full GB, so maybe some of the memory usage on Macs is related to the switch to Cocoa.

A general summary of allocations:
- Element/vertex/edge markers are a considerable chunk of

[2022-09-07 13:47] jcwright77 opened #240 "build with intel fails"
lib/gltf.hpp(109): error: the generated default constructor for "glTF_Builder::struct_pbrMetallicRoughness" cannot be used in an initializer for its own data member
        { false, "pbrMetallicRoughness", {} };
                                         ^
          detected during implicit generation of "glTF_Builder::struct_texture_info::struct_texture_info()" at line 10222

[2022-09-07 14:43] tzanio commented on #240
Hi @jcwright77,

What was the platform and the version of icc?

Tzanio

[2022-09-07 14:54] jcwright77 commented on #240
2020 . The constructor args seem right, so not sure why it is choking

[2022-09-08 01:01] tzanio opened #241 "Update CI to test installation with both GNU make and CMake"
This came up in https://github.com/GLVis/glvis/pull/239

[2022-09-09 01:30] v-dobrev commented on #233
Both the stream and the script commands use the format `screenshot <filename.png>`. The stream command is processed here: https://github.com/GLVis/glvis/blob/c092dc8f62a8ce37aa1d738d0d4f5db71f6856fb/lib/threads.cpp#L835

[2022-09-09 18:00] tzanio commented on #236
The improvements in https://github.com/GLVis/glvis/pull/237 are now deployed and I notice significantly faster load time in both the [Docker container](https://mfem.org/tutorial/) and [https://glvis.org/live/](https://glvis.org/live/).

Thank you @kanye-quest 🚀

[2022-09-09 18:17] jcwright77 commented on #240
Bump, any ideas on this? We could use the new glvis soon.

[2022-09-09 22:49] tzanio commented on #240
Hi @jcwright77,

This error looks strange, and I can't reproduce it.

I just build the following with `ICC 2021.6.0 20220226` without any issues:

- `mfem:master` (with `make CC=icc-2022.2 config`)
- `glew` and `SDL2` following the instruction [here](https://github.com/GLVis/glvis/blob/master/INSTALL#L228-L257), with an additional `CC=icc-2022.2` flag
- `glvis:master`  (with just `make`)

All of t

[2022-09-10 01:00] v-dobrev commented on #240
In @tzanio's instructions above there is an incorrect make flag: the MFEM GNU make build system does not use `CC` (which is typically the C compiler) but `CXX` which is typically the C++ compiler. Second, the Intel C++ compiler is `icpc`, whereas the C compiler is `icc`. The new OneAPI Intel compilers use `icx` and `icpx` for the C and the C++ compilers, respectively.

Thus, the compiler line for

[2022-09-10 01:11] jcwright77 commented on #240
I will try building again. I cannot really update to the latest intel very quickly. I will try the parallel build of mfem with the parallel flag in the glvis make, though it seemed to get the right compiler w/o that last time. Note that there is no mpic++ in my intel 2020 distribution, rather it seems I should use mpiicpc .

[2022-09-10 01:42] v-dobrev commented on #240
By the way, if the problem is in building GLVis with Intel then you can probably just use `g++` to build a serial MFEM version just for use with GLVis that is also built with `g++`. Such a build of GLVis should still work fine with apps build with parallel MFEM builds with Intel compiler. The only requirement is that if you enable `MFEM_USE_GNUTLS=YES` in the parallel build, you should also enable

[2022-09-10 02:01] jcwright77 commented on #240
Thanks I may try that. Most of our software stack is built with intel so if any of that is used the final link has to be with intel.

[2022-09-10 06:12] tzanio commented on #240
Sorry, copy+paste error -- it is indeed `CXX` for mfem (and `CC` for glew/SDL2).

[2022-09-10 16:25] jcwright77 commented on #240
I might try that. Of course glvis now has a few dependencies as well.

-john

[2022-09-18 15:24] tzanio commented on #240
@jcwright77, were you able to resolve this?

[2022-09-18 15:24] #233 closed

[2022-09-18 15:25] #224 closed

[2022-09-18 18:12] jcwright77 commented on #240
Trying to get back to it. With each build taking to so it’s taking a while.

-john

[2022-09-19 01:23] jcwright77 commented on #240
building plain serial mfem with g++ and glvis on top of that worked. May be a compiler bug in intel 2020.

[2022-09-19 01:23] jcwright77 commented on #240
when I  have time I'll try a few build with inte 2021

[2022-10-28 12:24] denislachapelle opened #246 "Failed to initialize SDL: No available video device"
I install GLVIS-4.2 with mfem-4.4 under WSL. Compilation using make went well for both and also for the mfem examples. I then install VcXsrv for the graphic.  I made the command export DISPLAY=192.168.2.43:0.0. I test with two applications, xterm and xcalc, both works fine.

When I start ./glvis I get the following message....

Waiting for data on port 19916 ...
FATAL: Failed to initialize SDL: No

[2022-10-28 17:14] v-dobrev commented on #246
Can you try building glvis in debug mode? The make command is `make debug` if you're using the GNU make build system. For CMake, you can add use the standard flag `-DCMAKE_BUILD_TYPE=Debug`.

In debug build there could be more details about the failure.

[2022-10-29 01:17] denislachapelle commented on #246
After making mfem and glvis in debug mode i get the following message...

Waiting for data on port 19916 ...
Using SDL 2.24.1
FATAL: Failed to initialize SDL: No available video device
Thank you for using GLVis.

Not much more than without debug...

[2022-11-08 20:00] #236 closed

[2022-11-29 23:06] mlstowell opened #248 "Scalar fields with MapType INTEGRAL do not display properly"
The problem is two-fold. First, loading the `GridFunction` in `StreamState` uses `GridFunction::GetNodalValues` which contains an `MFEM_ASSERT` requiring MapType VALUE. Second, the range used in the colorbar is based on minimum and maximum values in the vector of degrees of freedom.

The first problem must be solved in MFEM's `GridFunction` implementation. The second can be addressed in GLVis's `V

[2022-11-30 15:54] tzanio commented on #248
Thanks for looking into this @mlstowell. See also https://github.com/mfem/mfem/issues/1037